<app-header></app-header>
<section class="banner" id="home">
    <div class="textBx">
        <h2>Somos<br><span>Eventually</span></h2>
        <h3>Planeación y promoción de eventos</h3>
        <a href="#about" class="btn">Sobre Nosotros</a>
    </div>
</section>

<section class="about" id="about">
    <div class="heading">
        <h2>Sobre Nosotros</h2>
    </div>
    <div class="content">
        <div class="contentBx w50">
            <h2>Somos Una plataforma para la planeación y promoción de eventos</h2>
            <p class="fs-6">
                Eventually como plataforma de planeación y promoción busca que los usuarios puedan encontrar eventos y grupos que seran de posible interes para la participacion o ingreso en los eventos.
                <br><br> Debido a que los eventos pueden llegar a escalar o tener un publico definido, los proveedores seran aquellos encargados de ofrecer servicios los cuales puedan ayudar con la mejoria o el correcto funcionamiento de un determinado
                evento.

            </p>
        </div>
        <div class="w50">
            <img src="../../assets/landingpage/img1.jpg" class="img">
        </div>
    </div>
</section>
<section class="services" id="services">
    <div class="heading white">
        <h2>Nuestros Servicios</h2>
        <p>
            Estos son los servicios que ofrece Eventually.</p>
    </div>
    <div class="content">
        <div class="servicesBx">
            <img src="../../assets/landingpage/icon1.png" alt="">
            <h2>Creacion de Grupos</h2>
            <p class="fs-5">Los grupos permitirán a organizadores de eventos poder reunir a unos cuantos o a muchos con un fin, desarrollar un evento. Además de poder tener contacto con proveedores de servicios.</p>
        </div>
        <div class="servicesBx">
            <img src="../../assets/landingpage/icon2.png" alt="">
            <h2>Creación de eventos</h2>
            <p class="fs-5">Los eventos creados tendrán relación con el grupo en el que fueron creados, dando así la posibilidad de que las personas pertenecientes a determinado grupo puedan acceder a participar en un evento.</p>
        </div>

        <div class="servicesBx">
            <img src="../../assets/landingpage/icon1.png" alt="">
            <h2>Participación en eventos</h2>
            <p class="fs-5">Como usuario podrás ingresar a diferentes grupos en los que se desarrollaran eventos, los cuales pueden ser de interés, pudiendo en ese momento ingresar a participar en estos.</p>
        </div>
        <div class="servicesBx">
            <img src="../../assets/landingpage/icon1.png" alt="">
            <h2>Proveedores</h2>
            <p class="fs-5">Como proveedor podrá promocionar tus servicios para que los diferentes organizadores de eventos se sientan atraídos por contratar el servicio que se ofrece.</p>
        </div>

    </div>
</section>

<section class="testimonial" id="testimonial">
    <div class="heading">
        <h2>Testimonios</h2>
        <p>Que se dice sobre nosotros.</p>
    </div>
    <div class="content">
        <div class="testimonialBx">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias odit esse veritatis ducimus id, neque optio ipsa numquam tenetur est unde in saepe odio? Similique eaque aut earum tenetur veniam.</p>
            <h3>Someone famous <br><span> Creative Designer</span></h3>
        </div>
        <div class="testimonialBx">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias odit esse veritatis ducimus id, neque optio ipsa numquam tenetur est unde in saepe odio? Similique eaque aut earum tenetur veniam.</p>
            <h3>Someone famous <br><span> Creative Designer</span></h3>
        </div>
    </div>
</section>
<section class="contact" id="contact">
    <div class="heading white">
        <h2>Contactanos.</h2>
        <p>Por este medio podrá hacer contacto con nosotros.</p>
    </div>
    <div class="content">
        <div class="contactInfo">
            <h3>Datos de contacto</h3>
            <div class="contactInfoBx">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>La Milagrosa, Medellin, Antioquia, Colombia <br>050020</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+57 305-244-1753</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fas fa-envelope"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>dylanmr9d@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="formBx">
            <form action="">
                <h3>Escríbenos</h3>
                <input type="text" name="" placeholder="Nombre completo">
                <input type="email" name="" placeholder="Email">
                <textarea placeholder="Tu mensaje"></textarea>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</section>
<div class="copyright">
    <p>Copyright © 2020 Eventually. All Right Reserved</p>
</div>

<!-- <script type="text/javascript">
    window.addEventListener('scroll',function(){
    var header = document.querySelector('header');
    header.classList.toggle('sticky',window.scrollY > 0);
    });

    function toggleMenu(){
        var menuToggle = document.querySelector('.toggle');
        var menu = document.querySelector('.menu');
        menuToggle.classList.toggle('active')
        menu.classList.toggle('active')
    }
</script> -->