<app-modal-likes></app-modal-likes>
<app-modal-edit-likes [childMessage]="id"></app-modal-edit-likes>
<div class="content">
    <u><h2 class="title">Gustos</h2></u>
    <!--TABLE-->
    <!--TABLE-->
    <div class="row tables">
        <div class="col ">
            <table class="table  table-striped">
                <thead class="textoTitulos">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre Gusto</th>
                        <!-- <th scope="col">Tipo Gusto</th> -->
                        <th scope="col">Estado Gusto</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="textox" *ngFor="let like of likes">

                        <th scope="row">{{ like.idGusto }}</th>
                        <td>{{ like.nombreGusto }}</td>
                        <!-- <td>{{ like.tipoGusto }}</td> -->
                        <td>
                            <div *ngIf="like.estadoGusto==1">

                                <td></td>
                                <br>
                                <br>

                                <div class="form-check form-switch">

                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="cambioEstado(like.estadoGusto,like.idGusto)">

                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                                </div>

                            </div>

                            <div *ngIf="like.estadoGusto==2">

                                <td></td>
                                <br>
                                <br>

                                <div class="form-check form-switch">

                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="cambioEstado(like.estadoGusto,like.idGusto)">

                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                                </div>

                            </div>
                        </td>

                        <!-- <td>{{ like.estadoGusto }}</td> -->
                        <!-- (click)="editEvent(event.idEvento)" -->
                        <td><button class="btn btnEditar" data-bs-toggle="modal" data-bs-target="#edit-likes-Modal" (click)="editLikes(like.idGusto)">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><button class="btn btnCrear" data-bs-toggle="modal" data-bs-target="#likes-modal">
        Crear Gusto
    </button>
</div>