<app-modal-edit-events [childMessage]="id"></app-modal-edit-events>

<!-- <div class="content">

    <h2 class="fs-1 fw-bolder">Eventos</h2> -->
<!--TABLE-->
<!-- <div class="respo">
        <div class="table-responsive">
            <table class="table table-dark table-responsive">
                <thead>
                    <tr>
                        <th class="r" scope="col">Id</th>
                        <th class="r" scope="col">Nombre Evento</th>
                        <th class="r" scope="col">Descripcion Evento</th>
                        <th class="r" scope="col">Estado Evento</th>
                        <th class="r" scope="col">Fecha Evento</th>
                        <th class="r" scope="col">Tipo Evento</th>
                        <th class="r" scope="col">Participantes Totales</th>
                        <th class="r" scope="col">Id Grupo</th>
                        <th class="r" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events">

                        <th class="r" scope="row">{{ event.idEvento }}</th>
                        <td class="r">{{ event.nombreEvento }}</td>
                        <td class="r">{{ event.descripcionEvento }}</td>
                        <td class="r">{{ event.estadoEvento }}</td>
                        <td class="r">{{ event.fechaEvento }}</td>
                        <td class="r">{{ event.tipoEvento }}</td>
                        <td class="r">{{ event.ParticipantesTotales }}</td>
                        <td class="r">{{ event.Grupos_idGrupos }}</td>

                        <td><button class="btn btn-primary r" (click)="editEvent(event.idEvento)" data-bs-toggle="modal" data-bs-target="#edit-modal">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div> -->
<!--TABLE//-->
<!-- </div>

    <button class="btn btn-primary col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal" data-bs-target="#content-modal">
        Crear Evento
    </button>


</div> -->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let person of persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
        </tr> -->
    </tbody>
</table>