<app-modal-edit-events [childMessage]="id"></app-modal-edit-events>
<div class="content">
    <u><h2 class="title">Eventos</h2></u>

    <!-- <style>
        h2 {
            font-size: 100px;
        }
    </style> -->
    <!--TABLE-->



    <!-- <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="bucar..." [(ngModel)]="filterPersona">
            </div>
        </div>
    </div> -->
    <div class="row tables">
        <div class="col ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre Evento</th>
                        <th scope="col">Descripcion Evento</th>
                        <th scope="col">Estado Evento</th>
                        <th scope="col">Fecha Evento</th>
                        <th scope="col">Tipo Evento</th>
                        <th scope="col">Participantes Totales</th>
                        <th scope="col">Id Grupo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events">
                        <th scope="row">{{ event.idEvento }}</th>
                        <td>{{ event.nombreEvento }}</td>
                        <td>{{ event.descripcionEvento }}</td>
                        <td>{{ event.estadoEvento }}</td>
                        <td>{{ event.fechaEvento }}</td>
                        <td>{{ event.tipoEvento }}</td>
                        <td>{{ event.ParticipantesTotales }}</td>
                        <td>{{ event.Grupos_idGrupos }}</td>
                        <td><button class="btn btn-primary" (click)="editEvent(event.idEvento)" data-bs-toggle="modal" data-bs-target="#edit-modal">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>