@import '../../app.component.scss';
:host {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

// @import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
.title {
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    margin-bottom: 6vw;
}

// .titles {
//     position: fixed;
// }
// .sepa {
//     height: 2vw;
// }
// Hola mi nombre es Frailejón, Ernesto peréz
.content {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 4vw;
    height: auto!important;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.content {
    height: auto;
    .tables {
        overflow: scroll;
        height: 55vw!important;
    }
    .tables table {
        height: 30%!important;
    }
}

.btn {
    margin: 20px;
}

.btnEditar {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnEditar:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

@media only screen and (max-width: 1213px) {
    .content {
        margin-left: 6vw!important;
    }
}

@media only screen and (max-width: 1129px) {
    .content {
        margin-left: 4vw!important;
    }
}

@media only screen and (max-width: 1097px) {
    .content {
        width: 86vw!important;
        margin-left: 4vw;
        .tables {
            overflow: scroll;
            width: 86vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 930px) {
    .content {
        margin-bottom: 6vw;
    }
}

@media only screen and (max-width: 718px) {
    .content {
        width: 82vw!important;
        margin-left: 6vw!important;
        .tables {
            overflow: scroll;
            width: 82vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 627px) {
    .content {
        width: 78vw!important;
        margin-left: 8vw!important;
        .tables {
            overflow: scroll;
            width: 78vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 970px) {
    .content {
        width: 60vw!important;
        margin-left: 10vw!important;
        .tables {
            overflow: scroll;
            width: 60vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 427px) {
    .content {
        margin-left: 4vw!important;
    }
}

@media only screen and (max-width: 387px) {
    .content {
        width: 74vw!important;
        margin-left: 2.5vw!important;
        .tables {
            overflow: scroll;
            width: 74vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 361px) {
    .content {
        width: 70vw!important;
        margin-left: 2.5vw!important;
        .tables {
            overflow: scroll;
            width: 70vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 330px) {
    .content {
        width: 65vw!important;
        margin-left: -1vw!important;
        .tables {
            overflow: scroll;
            width: 65vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 281px) {
    .content {
        width: 60vw!important;
        margin-left: -1vw!important;
        .tables {
            overflow: scroll;
            width: 60vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}