@import '../../app.component.scss';
:host {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

// @import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
.title {
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    margin-bottom: 6vw;
}

// .titles {
//     position: fixed;
// }
// .sepa {
//     height: 2vw;
// }
// Hola mi nombre es Frailejón, Ernesto peréz
.content {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 4vw;
    height: auto!important;
}

.titlePrincipal {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    font-size: 3vw;
    padding: 1.5rem;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.content {
    height: auto;
    .tables {
        overflow: scroll;
        height: 55vw!important;
    }
    .tables table {
        height: 30%!important;
    }
}

.btn {
    margin: 20px;
}

.btnEditar {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnEditar:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

@media only screen and (max-width: 1167px) {
    .content {
        width: 80vw!important;
        height: 45vw!important;
        // margin-left: 4vw;
        .tables {
            height: 45vw!important;
        }
        // .tables table {
        //     width: 10%!important;
        // }
    }
}

@media only screen and (max-width: 938px) {
    .content {
        width: 75vw!important;
        height: 50vw!important;
        .tables {
            overflow: scroll;
            width: 75vw!important;
            height: 50vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 895px) {
    .content {
        width: 70vw!important;
        .tables {
            overflow: scroll;
            width: 70vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 895px) {
    .content {
        width: 75vw!important;
        // margin-left: 4vw;
        height: 35rem!important;
        .tables {
            overflow: scroll;
            width: 75vw!important;
            height: 35rem!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 624px) {
    .content {
        width: 70vw!important;
        // margin-left: 4vw;
        height: 30rem!important;
        .tables {
            overflow: scroll;
            width: 70vw!important;
            height: 30rem!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 463px) {
    .content {
        width: 65vw!important;
        // margin-left: 4vw;
        .tables {
            overflow: scroll;
            width: 65vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 372px) {
    .content {
        width: 60vw!important;
        // margin-left: 4vw;
        .tables {
            overflow: scroll;
            width: 60vw!important;
        }
        .tables table {
            width: 8%!important;
        }
    }
}
