:host {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

// @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
// .title {
//     font-family: 'Patua One', cursive;
//     font-weight: 100rem;
// }
.thumbnail {
    width: 70vw;
    border-radius: 20px!important;
}

.content {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 80px;
}

.btn {
    margin: 20px;
}

@media only screen and (max-width: 1221px) {
    .content {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 1090px) {
    .content {
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 1100px) {
    .content {
        width: 45rem!important;
        margin-left: 5rem!important;
    }
    .tables {
        overflow: scroll;
        width: 45rem!important;
    }
    .tables table {
        width: 10%!important;
    }
}

@media only screen and (max-width: 886px) {
    .content {
        margin-left: 3rem!important;
    }
}

@media only screen and (max-width: 850px) {
    .content {
        margin-left: 2rem!important;
    }
}

@media only screen and (max-width: 830px) {
    .content {
        margin-left: 1rem!important;
    }
}

@media only screen and (max-width: 813px) {
    .content {
        width: 35rem!important;
        margin-left: 5rem!important;
    }
    .tables {
        overflow: scroll;
        width: 40rem!important;
    }
    .tables table {
        width: 10%!important;
    }
}

@media only screen and (max-width: 746px) {
    .content {
        width: 35rem!important;
        margin-left: 3rem!important;
    }
    .tables {
        overflow: scroll;
        width: 38rem!important;
    }
    .tables table {
        width: 10%!important;
    }
}

@media only screen and (max-width: 703px) {
    .content {
        width: 30rem!important;
        margin-left: 5rem!important;
    }
    .tables {
        overflow: scroll;
        width: 35rem!important;
    }
    .tables table {
        width: 10%!important;
    }
}

@media only screen and (max-width: 660px) {
    .content {
        width: 28rem!important;
        margin-left: 5rem!important;
    }
    .tables {
        overflow: scroll;
        width: 30rem!important;
    }
    .tables table {
        width: 10%!important;
    }
}

@media only screen and (max-width: 601px) {
    .content {
        width: 26rem!important;
        margin-left: 4rem!important;
    }
    .tables {
        overflow: scroll;
        width: 25rem!important;
    }
    .tables table {
        width: 10%!important;
    }
}

@media only screen and (max-width: 530px) {
    .content {
        margin-left: 2rem!important;
    }
}

@media only screen and (max-width: 488px) {
    .content {
        width: 20rem!important;
        margin-left: 2rem!important;
    }
    .tables {
        overflow: scroll;
        width: 20rem!important;
    }
    .tables table {
        width: 5%!important;
    }
}

@media only screen and (max-width: 427px) {
    .content {
        margin-left: 0.5rem!important;
    }
}

@media only screen and (max-width: 415px) {
    .content {
        width: 15rem!important;
        margin-left: 0rem!important;
    }
    .tables {
        overflow: scroll;
        width: 15rem!important;
    }
    .tables table {
        width: 5%!important;
    }
}

@media only screen and (max-width: 334px) {
    .content {
        width: 12rem!important;
        margin-left: -0.5rem!important;
    }
    .tables {
        overflow: scroll;
        width: 12rem!important;
    }
    .tables table {
        width: 5%!important;
    }
}