<app-modal-edit-events [childMessage]="id"></app-modal-edit-events>
<div class="content">
    <u><h2 class="title">Eventos</h2></u>
    <!-- // Hola mi nombre es Frailejón, Ernesto peréz -->
    <!-- <style>
        h2 {
            font-size: 100px;
        }
    </style> -->
    <!--TABLE-->



    <!-- <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="bucar..." [(ngModel)]="filterPersona">
            </div>
        </div>
    </div> -->
    <div class="row tables">
        <div class="col ">
            <table class="table table-striped">
                <thead class="titles">
                    <tr>
                        <th class="textoTitulos" scope="col">Id</th>
                        <th class="textoTitulos" scope="col">Nombre Evento</th>
                        <th class="textoTitulos" scope="col">Descripcion Evento</th>
                        <th class="textoTitulos" scope="col">Estado Evento</th>
                        <th class="textoTitulos" scope="col">Fecha Evento</th>
                        <th class="textoTitulos" scope="col">Tipo Evento</th>
                        <th class="textoTitulos" scope="col">Participantes Totales</th>
                        <th class="textoTitulos" scope="col">Id Grupo</th>
                        <th class="textoTitulos" scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- <tr class="sepa"></tr> -->
                    <tr *ngFor="let event of events">
                        <th class="textox" scope="row">{{ event.idEvento }}</th>
                        <td class="textox">{{ event.nombreEvento }}</td>
                        <td class="textox">{{ event.descripcionEvento }}</td>
                        <td class="textox">{{ event.estadoEvento }}</td>
                        <td class="textox">{{ event.fechaEvento }}</td>
                        <td class="textox">{{ event.tipoEvento }}</td>
                        <td class="textox">{{ event.ParticipantesTotales }}</td>
                        <td class="textox">{{ event.Grupos_idGrupos }}</td>
                        <td class="textox"><button class="btn  btnEditar" (click)="editEvent(event.idEvento)" data-bs-toggle="modal" data-bs-target="#edit-modal">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>