<!-- HEADER
<header>
    <div>
        <p>Esperando a ser un lindo Header.</p>
    </div>
</header> -->
<label for="">Fecha Realizacion:</label>
                            <input matInput [matDatepicker]="picker" class="form-control"  style="display: inline; width: 90%;">
                            <mat-datepicker-toggle matSuffix [for]="picker" style="color: #000; " ></mat-datepicker-toggle>
                            <mat-datepicker class="modal" #picker></mat-datepicker>
                            <div class="invalid-feedback">
                               
                            </div>
<app-modal-provider-info></app-modal-provider-info>
<app-modal-result></app-modal-result>
<app-modal-create-event></app-modal-create-event>
<!--Modal-->
<body>
    <!--Content Container-->
    <div class="eventsContainerContent">
        <!--Aside bar-->
        <!-- <div class="content-asidebar">
            <div class="content">
                <p>a</p>
            </div>
        </div> -->
        <!--CONTENT-->
        <div class="principalContainer">
    
                <!-- Button trigger modal -->
                    <button class="btn btn-primary col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal" data-bs-target="#content-modal">
                        Crear Evento
                    </button>
                <span>Acceder a evento</span>
                <button class="btn btn-primary col-2 d-md-flex justify-content-md-center" routerLink="events/event-in" (click)="inEvent(1)">
                    ENTRAR A EVENTO
                </button>
                
    
                <router-outlet>
                    
                </router-outlet>
    
    
        </div>
    
    </div>
    
    <!-- Footer
    <footer>
        <div class="content">
            <p>A</p>
        </div>
    
    </footer>
</body> -->
