<!--HEADER-->
<header>
    <div>
        <p>Esperando a ser un lindo Header.</p>
    </div>
</header>
<!--Content Container-->
<div class="dashboard-container-content">
    <!--Aside bar-->
    <div class="content-asidebar">
        <div class="content">
            <p>a</p>  
        </div>
    </div>
    <!--CONTENT-->
    <div class="principalContainer">
        <p>aa</p>
    </div>
          
</div>

<!--Footer-->
<footer>
    <div class="content">
        <p>A</p>
    </div>
    
</footer>
