:host {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 40px;
  margin: 5px 5px;
}

.class-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
}

.thumbnail {
  width: 70vw;
  height: 25vw;
  border-radius: 20px;
}

.title-event {
  margin-top: 10px;
}

.info-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(252, 252, 252);
  margin-top: 10px;
  padding: 4px;
  border-radius: 5px;
  align-self: flex-start;
}

.info {
  background-color: rgb(228, 221, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  padding: 3px;
  border-radius: 4px;
}

.main-content-container {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
}

.main-info {
  background-color: rgb(252, 252, 252);
  margin: 10px 0px;
  padding: 4px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.a {
  margin: 0px 20px;
}

.a p {
  display: inline;
  font-size: medium;
  background-color: rgb(169, 184, 184);
}

.desc {
  font-size: large;
}
