<!-- Modal -->
<div class="modal fade" id="modal-provider-info"  data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Proveedor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">                
                <label for="">Descripcion de contacto:</label>
                    <div class="mb-2">
                        <p class="fw-bold fs-5 text-break">
                            305-244-17-53 /
                            305-244-17-54
                        </p>                        
                        <p class="fw-bold fs-5 underlined">
                            dylanmru9d@gmial.com
                        </p>             
                        <p class="fw-bold fs-5 text-break">
                            Contacto por cualquiera de estos canales entre los horarios de 09:00AM a 06:00PM
                        </p>             
                    </div>

                    
                    <label for="">Nombre proveedor:</label>
                    <div class="mb-2">
                        <p class="fw-bold fs-5 text-break">
                            Dylan Murillo Rios
                        </p>                        
                                 
                    </div>

                    <div class="check-container-politycs">
                        <div class="form-check">
                            <label class="form-check-label" for="defaultCheck1">
                                Antes de invitar a este proveedor, primero colocarse en contacto para así pactar algún tipo de contrato o servicio por fuera de la aplicación, si no abstenerse a invitarlo.
                                (Una vez invitado, este sera notificado y se debera ser paciente a una respuesta)
                            </label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Invitar</button>
        </div>
      </div>
    </div>
  </div>