@import '../../app.component.scss';
:host {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    margin-bottom: 6vw;
}

.content {
    margin-top: 4vw;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    // margin-left: 5vw;
}

.content {
    height: 55vw!important;
    margin-top: 2rem!important;
    margin: 0 auto;
    max-width: 100vw;
    .tables {
        overflow: scroll;
        max-width: 100vw;
        height: 85rem!important;
    }
    .tables table {
        height: 30%!important;
    }
}

.btn {
    margin: 20px;
}

.checked {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2)!important;
}

.btnEditar {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnEditar:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

// @media only screen and (max-width: 1213px) {
//     .content {
//         margin-left: 6vw!important;
//     }
// }
// @media only screen and (max-width: 1129px) {
//     .content {
//         margin-left: 4vw!important;
//     }
// }
@media only screen and (max-width: 1167px) {
    .content {
        height: 45vw!important;
        // margin-left: 4vw;
        .tables {
            height: 45vw!important;
        }
        // .tables table {
        //     width: 10%!important;
        // }
    }
}

@media only screen and (max-width: 938px) {
    .content {
        width: 75vw!important;
        height: 50vw!important;
        .tables {
            overflow: scroll;
            width: 75vw!important;
            height: 50vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 895px) {
    .content {
        width: 70vw!important;
        .tables {
            overflow: scroll;
            width: 70vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 895px) {
    .content {
        width: 75vw!important;
        // margin-left: 4vw;
        height: 35rem!important;
        .tables {
            overflow: scroll;
            width: 75vw!important;
            height: 35rem!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 624px) {
    .content {
        width: 70vw!important;
        // margin-left: 4vw;
        height: 30rem!important;
        .tables {
            overflow: scroll;
            width: 70vw!important;
            height: 30rem!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 463px) {
    .content {
        width: 65vw!important;
        // margin-left: 4vw;
        .tables {
            overflow: scroll;
            width: 65vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 372px) {
    .content {
        width: 60vw!important;
        // margin-left: 4vw;
        .tables {
            overflow: scroll;
            width: 60vw!important;
        }
        .tables table {
            width: 8%!important;
        }
    }
}
