<app-modal-groups></app-modal-groups>
<app-modal-edit-groups [childMessage]=id></app-modal-edit-groups>

<div class="content">
    <u><h2 class="title">Grupos</h2></u>

    <!--TABLE//-->

    <div class="row tables">
        <div class="col ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcíon</th>
                        <th scope="col">Privacidad</th>
                        <th scope="col">Invitados</th>
                        <th scope="col">Gusto</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of groups">
                        <th scope="row">{{ group.idGrupos }}</th>
                        <td>{{ group.nombreGrupo }}</td>
                        <td>{{ group.descripcionGrupo }}</td>

                        <td>
                            <br>
                            <div *ngIf="group.privacidadGrupo==1">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="switchPublicGroup(group.privacidadGrupo, group.idGrupos)" (click)="refresh()">
                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                </div>
                            </div>
                            <div *ngIf="group.privacidadGrupo==2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="switchPublicGroup(group.privacidadGrupo, group.idGrupos)" (click)="refresh()">
                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                </div>
                            </div>
                        </td>
                        <td>{{ group.InvitadosTotales }}</td>
                        <td>{{ group.nombreGusto }}</td>

                        <td>
                            <br>
                            <div *ngIf="group.EstadosGrupo_idEstadosGrupo1==1">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="switchStateGroup(group.EstadosGrupo_idEstadosGrupo1, group.idGrupos)" (click)="refresh()">
                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                </div>
                            </div>
                            <div *ngIf="group.EstadosGrupo_idEstadosGrupo1==2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="switchStateGroup(group.EstadosGrupo_idEstadosGrupo1, group.idGrupos)">
                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                </div>
                            </div>
                        </td>
                        <td>



                            <button class="btn btnEditar justify-content-md-center" (click)="editarGroup(group.idGrupos)" data-bs-toggle="modal" data-bs-target="#groups-edit-modal">
                            <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><title>Editar</title><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>

                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
