<div class="modal fade" id="modal-report-events-groups-organizer" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Eventos realizados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Reporte 5</h5>
                        <p class="card-text">Se ha realizado un reporte el 20 de febrero del 2021.</p>
                        <a title="Botón para descargar el reporte." href="#" class="btn btn-primary" (click)="share()">Descargar PDF</a>
                    </div>
                </div>

                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Reporte 4</h5>
                        <p class="card-text">Se ha realizado un reporte el 8 de diciembre del 2020.</p>
                        <a title="Botón para descargar el reporte." href="#" class="btn btn-primary" (click)="share()">Descargar PDF</a>
                    </div>
                </div>

                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Reporte 3</h5>
                        <p class="card-text">Se ha realizado un reporte el 19 de Agosto del 2020.</p>
                        <a title="Botón para descargar el reporte." href="#" class="btn btn-primary" (click)="share()">Descargar PDF</a>
                    </div>
                </div>

                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Reporte 2</h5>
                        <p class="card-text">Se ha realizado un reporte el 27 de Junio del 2020.</p>
                        <a title="Botón para descargar el reporte." href="#" class="btn btn-primary" (click)="share()">Descargar PDF</a>
                    </div>
                </div>

                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Reporte 1</h5>
                        <p class="card-text">Se ha realizado un reporte el 8 de marzo del 2020.</p>
                        <a title="Botón para descargar el reporte." href="#" class="btn btn-primary" (click)="share()">Descargar PDF</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" title="Botón para cerrar y desistir de generar el reporte." data-bs-dismiss="modal">Cerrar</button>
                <button type="button" title="Botón para genrar el reporte." class="btn btn-secondary" (click)="report()">Generar Reporte</button>
            </div>
        </div>
    </div>
</div>