* {
    height: auto;
    margin: 0;
}

body .container {
    max-width: 100vw;
    width: 100%;
    z-index: 3;
    margin-top: 0;
}

.principalContainer {
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // margin-top: 5%;
    // width: 150vh;
    width: 155vh;
    height: auto;
    margin: 1rem;
}

.leftMenu {
    width: 8%;
}