<!--HEADER-->
<header>
    <div>
        <p>Esperando a ser un lindo Header.</p>
    </div>
</header>

<!--MODAL PROVIDERS-->
<app-modal-check-event></app-modal-check-event>
<app-modal-create-service></app-modal-create-service>
<app-modal-edit-service></app-modal-edit-service>

<!--MODAL PROVIDERS//-->

<!--Content Container-->
<div class="eventsContainerContent">
    <!--Aside bar-->
    <div class="content-asidebar">
        <div class="content">
            <button class="btn btn-primary" routerLink="provider">Proveedores</button>
        </div>
    </div>
    <!--CONTENT-->
    <div class="principalContainer">

            <router-outlet></router-outlet>
            
           
    </div>
          
</div>

<!--Footer-->
<footer>
    <div class="content">
        <p>A</p>
    </div>
    
</footer>

