<!--HEADER-->
<app-top-header></app-top-header>

<!--MODAL PROVIDERS-->
<app-modal-check-event></app-modal-check-event>
<app-modal-create-service></app-modal-create-service>


<!--MODAL PROVIDERS//-->

<!--Content Container-->

<body>
    <div class="container d-flex">
        <div class="row">
            <div class="co-12 d-flex ">
                <div class="col-3 leftMenu">
                    <app-left-menu></app-left-menu>
                </div>

                <div class="col-9 principalContainer">
                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</body>

<!--Footer-->
<!-- <app-footer></app-footer> -->