<!-- Modal -->
<div class="modal-content modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-header">
        <h5 class="titlePrincipal" id="staticBackdropLabel">Editar Tipo Servicio</h5>
        <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modalCreateTypeDash.dismiss('Cross click')"></button> -->
    </div>
    <form [formGroup]="createTypeServices" (ngSubmit)="postForm(createTypeServices.value)">       
        <label for="">Nombre del Evento:</label>
        <input type="text" class="form-control" id=""
        placeholder="" formControlName="tipoServicio">
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Crear Tipo Servicio</button>
        </div>
    </form>
</div>


