.main-content {
  display: inline-block;
  flex-direction: column;
  width: 90vw;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: 40px;
  margin: 5px 5px;
  padding-top: 200px;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container-buttons button {
  margin: 15px;
}
