<div class="content">
    <u><h2 class="title">Servicios</h2></u>

    <!--TABLE-->
    <div class="row tables">
        <div class="col ">
            <table class="table table-striped">
                <thead class="titles">
                    <tr>
                        <th class="textoTitulos" scope="col">Id</th>
                        <th class="textoTitulos" scope="col">Nombre Servicio</th>
                        <th class="textoTitulos" scope="col">Descripcion Servicio</th>
                        <th class="textoTitulos" scope="col">Precio estimado</th>
                        <th class="textoTitulos" scope="col">Imagen</th>
                        <th class="textoTitulos" scope="col">Historial empresas</th>
                        <th class="textoTitulos" scope="col">Numero contacto</th>
                        <th class="textoTitulos" scope="col">Correo Contacto</th>
                        <th class="textoTitulos" scope="col">Estado Servicio</th>
                        <th class="textoTitulos" scope="col">Id Proveedor</th>
                        <th class="textoTitulos" scope="col">Id Tipo Servicio</th>
                        <th class="textoTitulos" scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of Services">

                        <th class="textox" scope="row">{{ service.idServicios }}</th>
                        <td class="textox">{{ service.nombreServicio }}</td>
                        <td class="textox">{{ service.descripcionServicio }}</td>
                        <td class="textox">{{ service.precioEstimado }}</td>
                        <td class="textox">{{ service.imagen }}</td>
                        <td class="textox">{{ service.historialEmpresas }}</td>
                        <td class="textox">{{ service.numeroContacto }}</td>
                        <td class="textox">{{ service.correoContacto }}</td>
                        <td class="textox">{{ service.estadoServicio }}</td>
                        <td class="textox">{{ service.Proveedor_idProveedor }}</td>
                        <td class="textox">{{ service.TipoServicio_idtipoServicio }}</td>
                        <!-- (click)="editEvent(event.idEvento)" -->
                        <td class="textox"><button class="btn btnEditar" (click)="modalServiceOpen(contentService, service.idServicios)">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--TABLE//-->

    <h2 class="fs-1 title">Tipos de Servicios</h2>

    <!--TABLE-->
    <div class="row tables">
        <div class="col ">
            <table class="table table-striped">
                <thead class="titles">
                    <tr>
                        <th class="textoTitulos" scope="col">Id</th>
                        <th class="textoTitulos" scope="col">Tipo Servicio</th>
                        <th class="textoTitulos" scope="col">Estado</th>
                        <th class="textoTitulos" scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let TypeService of TypeServices">

                        <th class="textox" scope="row">{{ TypeService.idtipoServicio }}</th>
                        <td class="textox">{{ TypeService.tipoServicio }}</td>
                        <td class="textox">{{ TypeService.estadoTipoServicio}}</td>
                        <td class="textox"><button class="btn btnEditar" (click)="modalTypeServiceOpen(contentType, TypeService.idtipoServicio)">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btnCrear" (click)="createEvent()">
      Crear Tipo Servicio
  </button>
</div>
<!--TABLE//-->

<!-- Create new type services -->


<ng-template #contentType let-modal>
    <!-- Modal -->
    <div class="modal-content modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-header">
            <h5 class="titlePrincipal" id="staticBackdropLabel">Editar Tipo Servicio</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <form class="textox" [formGroup]="typeServicesForm" (ngSubmit)="postEditFormType(typeServicesForm.value)">
            <div class="modal-body">

                <label for="">Id Tipo Servicio:</label>
                <input type="text" class="form-control" id="" placeholder="" formControlName="idtipoServicio">

                <label for="">Nombre del Evento:</label>
                <input type="text" class="form-control" id="" placeholder="" formControlName="tipoServicio">

                <label for="">Estado Evento:</label>
                <input type="text" class="form-control" id="" placeholder="Ej: El mejor evento" formControlName="estadoTipoServicio" [readonly]="true">
                <div class="form-check form-switch">
                    <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" *ngIf="typeServicesForm.get('estadoTipoServicio')?.value != 1" (click)="switchStateEvent(typeServicesForm.get('estadoTipoServicio')?.value)">
                    <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" *ngIf="typeServicesForm.get('estadoTipoServicio')?.value == 1" (click)="switchStateEvent(typeServicesForm.get('estadoTipoServicio')?.value)" checked>
                    <label class="form-check-label fw-bolder fs-4 label" for="flexSwitchCheckChecked" *ngIf="typeServicesForm.get('estadoTipoServicio')?.value != 1">Habilitar TIPO</label>
                    <label class="form-check-label fw-bolder fs-4 label" for="flexSwitchCheckChecked" *ngIf="typeServicesForm.get('estadoTipoServicio')?.value == 1">Deshabilitar TIPO</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btnEditar">Editar</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #contentService let-modal>
    <!-- Modal -->
    <div class="modal-content modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-header">
            <h5 class="titlePrincipal" id="staticBackdropLabel">Editar Servicio</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <form class="textox" [formGroup]="ServicesForm" (ngSubmit)="postEditFormServices(ServicesForm.value)">
            <div class="modal-body">

                <label for="">Id Servicio:</label>
                <input type="text" class="form-control" id="" placeholder="" formControlName="idServicios">

                <label for="">Nombre del servicio:</label>
                <input type="text" class="form-control" id="" placeholder="" formControlName="nombreServicio">

                <label for="">Descripcion Servicio:</label>
                <div class="mb-2">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" formControlName="descripcionServicio"></textarea>
                </div>

                <label for="exampleInputEmail1">Precio estimado:</label>
                <input type="number" class="form-control" id="exampleInputEmail1" min="1" max="200000000" formControlName="precioEstimado">

                <label for="">Imagen:</label>
                <input type="text" class="form-control" id="" placeholder="" formControlName="imagen">

                <label for="">Historial de empresas:</label>
                <div class="mb-2">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" formControlName="historialEmpresas"></textarea>
                </div>

                <label for="exampleInputEmail1">Numero de contacto:</label>
                <input type="number" class="form-control" id="exampleInputEmail1" min="1" max="200000000" formControlName="numeroContacto">

                <label for="">Correo de contacto:</label>
                <input type="email" class="form-control" id="" placeholder="" formControlName="correoContacto">

                <label for="exampleInputEmail1">Id Proveedor:</label>
                <input type="number" class="form-control" id="exampleInputEmail1" min="1" max="1000" formControlName="Proveedor_idProveedor">

                <label for="exampleInputEmail1">Id Tipo Servicio:</label>
                <input type="number" class="form-control" id="exampleInputEmail1" min="1" max="1000" formControlName="TipoServicio_idtipoServicio">

                <label for="">Estado Servicio:</label>
                <input type="text" class="form-control" id="" placeholder="Ej: El mejor evento" formControlName="estadoServicio" [readonly]="true">
                <div class="form-check form-switch">
                    <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value != 1" (click)="switchStateService(ServicesForm.get('estadoServicio')?.value)">
                    <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value == 1" (click)="switchStateService(ServicesForm.get('estadoServicio')?.value)" checked>
                    <label class="form-check-label fw-bolder fs-4 label" for="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value != 1">Habilitar TIPO</label>
                    <label class="form-check-label fw-bolder fs-4 label" for="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value == 1">Deshabilitar TIPO</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btnEditar">Editar</button>
            </div>
        </form>
    </div>
</ng-template>