<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Detalle Grupo</h5>
            <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal2.dismiss('Cross click')"></button> -->
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="">Nombre:</label>
                <p>{{this.dataGroup.nombreGrupo}}</p>

                <label for="">Privacidad:</label>
                <p>{{this.dataGroup.privacidadGrupo}}</p>

                <label for="">Descripción:</label>
                <div class="mb-2">
                    <p>{{this.dataGroup.descripcionGrupo}}</p>
                </div>

                <div>
                    <label for="exampleInputEmail1">Gusto:</label>
                    <p>{{this.dataGroup.gustos_idGusto}}</p>
                </div>

                <label for="">InvitadosTotales:</label>
                <div class="mb-2">
                    <p>{{this.dataGroup.InvitadosTotales}}</p>
                </div>

                <label for="">imagen:</label>
                <div class="mb-2">
                    <img width="500px" [src]="this.dataGroup.imagen" alt="si">
                </div>

            </div>
        </div>
    </div>
        <div class="modal-footer">
            <!-- <button type="submit" class="btn btn-primary" [disabled]="createEventForm.invalid" data-bs-dismiss="modal">Crear evento</button> -->
        </div>
</div>
