<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Reporte 5</h5>
    <p class="card-text">Se ha realizado un reporte el 20 de febrero del 2021.</p>
    <a href="#" class="btn btn-primary" (click)="share()">Descargar PDF</a>
  </div>
</div>

<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Reporte 4</h5>
    <p class="card-text">Se ha realizado un reporte el 8 de diciembre del 2020.</p>
    <a href="#" class="btn btn-primary" (click)="share()">escargar PDF</a>
  </div>
</div>

<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Reporte 3</h5>
    <p class="card-text">Se ha realizado un reporte el 19 de Agosto del 2020.</p>
    <a href="#" class="btn btn-primary" (click)="share()">escargar PDF</a>
  </div>
</div>

<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Reporte 2</h5>
    <p class="card-text">Se ha realizado un reporte el 27 de Junio del 2020.</p>
    <a href="#" class="btn btn-primary" (click)="share()">escargar PDF</a>
  </div>
</div>

<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Reporte 1</h5>
    <p class="card-text">Se ha realizado un reporte el 8 de marzo del 2020.</p>
    <a href="#" class="btn btn-primary" (click)="share()">escargar PDF</a>
  </div>
</div>
