<!--HEADER-->
<header>
    <div>
        <p>Esperando a ser un lindo Header.</p>
    </div>
</header>
<!--Content Container-->
<app-modal-create-event></app-modal-create-event><!--Modal-->
<div class="eventsContainerContent">
    <!--Aside bar-->
    <div class="content-asidebar">
        <div class="content">
            <p>a</p>  
        </div>
    </div>
    <!--CONTENT-->
    <div class="principalContainer">
        <p>Mucho textoasdffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
        <!--Modal-->
            <!-- Button trigger modal -->
                <button class="btn btn-primary col-6" data-bs-toggle="modal" data-bs-target="#contenido-modal">
                    Crear Evento
                </button>
                        <!-- Modal -->
                        
                            
    </div>
          
</div>

<!--Footer-->
<footer>
    <div class="content">
        <p>A</p>
    </div>
    
</footer>
