<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-header">
        <h1 class="titlePrincipal" id="staticBackdropLabel">Detalle de Evento</h1>
        <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal2.dismiss('Cross click')"></button> -->
    </div>
    <div class="modal-body textox">
        <div class="form-group">
            <div class="container d-flex">
                <div class=" row dflex">

                    <div class="row filaInfo">
                        <div class="col-6 colTitulo">
                            <label class="title" for="">Nombre:</label>
                        </div>
                        <div class="col-6 colCont">
                            <p>{{this.dataEvent.nombreEvento}}</p>
                        </div>
                    </div>

                    <div class="row filaInfo">
                        <div class="col-6 colTitulo">
                            <label class="title" for="">Descripcion del Evento:</label>
                        </div>
                        <div class="col-6 colCont">
                            <p>{{this.dataEvent.descripcionEvento}}</p>
                        </div>
                    </div>

                    <div class="row filaInfo">
                        <div class="col-6 colTitulo">
                            <label class="title" for="">Fecha del Evento:</label>
                        </div>
                        <div class="col-6 colCont">
                            <p>{{this.dataEvent.fechaEvento}}</p>
                        </div>
                    </div>

                    <div class="row filaInfo">
                        <div class="col-6 colTitulo">
                            <label class="title" for="">Participantes Totales:</label>
                        </div>
                        <div class="col-6 colCont">
                            <p>{{this.dataEvent.participantesTotales}}</p>
                        </div>
                    </div>

                    <div class="row filaInfo">
                        <div class="col-6 colTitulo">
                            <label class="title" for="exampleInputEmail1">Imagen:</label>
                        </div>
                        <div class="col-6 colCont">
                            <img [src]="this.dataEvent.imagen" alt="">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
