

<header>
    <a href="#home" class="logo">Eventually</a>
    <div class="toggle"  (click)="toggleMenu()" ></div>
    <ul class="menu">
        <li><a href="#home"  (click)="toggleMenu()">Home</a></li>
        <li><a href="#about"  (click)="toggleMenu()">Acerca</a></li>
        <li><a href="#services"  (click)="toggleMenu()">Servicios</a></li>
        <li><a href="#testimonial"  (click)="toggleMenu()">Testimonios</a></li>
        <li><a href="#contact"  (click)="toggleMenu()">Contacto</a></li>
        <li><a   (click)="toggleMenu()">Iniciar Sesion</a></li>
    </ul>
</header>
