@import '../../app.component.scss';
.cards {
    border-radius: 1rem;
    width: 18rem;
    height: auto;
    margin-top: 1rem;
    .nameUser {
        padding-top: 0.5rem;
    }
    .mailUser {
        color: $thirdLetter;
    }
    .iconUserMenu {
        width: 2rem;
    }
}

.useOption {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    width: 100%;
    border-radius: 0.5rem;
}

.useOption a {
    color: white !important;
    svg {
        stroke: white !important;
        fill: white;
    }
    .i {
        fill: none !important;
    }
}

.useOption:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}