<body>
    <!-- <form target="_blank" action="https://formsubmit.co/jordansaldarriaga14@gmail.com" method="POST" [formGroup]="peticionProveedor" > -->
    <form [formGroup]="peticionProveedor">
        <div class="form">
            <h1>¡Ser proveedor!</h1>
            <!-- <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Nombre</label>
            </div> -->
            <div class="grupo">
                <input type="email" name="email" id="email" required formControlName="Email" [ngClass]="(peticionProveedor.get('Email')?.touched || peticionProveedor.get('Email')?.dirty) &&
                peticionProveedor.get('Email')?.errors ? 'is-invalid' : '' || peticionProveedor.get('email')?.hasError('email')
                ? 'is-invalid' : ''"><span class="barra"></span>
                <label for="">Email</label>
                <div class="invalid-feedback">
                    {{ peticionProveedor.get("Email")?.hasError("required") ? "Campo requerido" : "" }} {{ peticionProveedor.get("Email")?.hasError("email") ? "Campo de email persona@example.com" : "" }}
                </div>
            </div>

            <div class="grupo">
                <input type="text" name="name" id="nombre" required formControlName="nombre" [ngClass]="(peticionProveedor.get('nombre')?.touched || peticionProveedor.get('nombre')?.dirty) &&
                peticionProveedor.get('nombre')?.errors ? 'is-invalid' : '' || peticionProveedor.get('nombre')?.hasError('minlength')
                ? 'is-invalid' : '' || peticionProveedor.get('documento')?.hasError('pattern')
                ? 'is-invalid' : ''"><span class="barra"></span>
                <label for="">Nombre</label>
                <div class="invalid-feedback">
                    {{ peticionProveedor.get("nombre")?.hasError("required") ? "Campo requerido" : "" }} {{ peticionProveedor.get("nombre")?.hasError("pattern") ? "Campo solo con letras" : "" }}
                </div>
            </div>

            <div class="grupo">
                <div class="md-form">
                    <textarea (click)="clean()" class="md-textarea form-control" formControlName="msg" required rows="4" [ngClass]="(peticionProveedor.get('msg')?.touched || peticionProveedor.get('msg')?.dirty) &&
                    peticionProveedor.get('msg')?.errors ? 'is-invalid' : '' || peticionProveedor.get('msg')?.hasError('required')
                    ? 'is-invalid' : ''"></textarea><span class="barra"></span>
                    <label class="textAreaLabel">Justificación</label>
                    <div class="invalid-feedback">
                        {{ peticionProveedor.get("msg")?.hasError("required") ? "Campo requerido" : "" }} {{ peticionProveedor.get("msg")?.hasError("pattern") ? "Campo solo con letras, no caracteres especiales" : "" }}
                    </div>
                </div>
            </div>


            <!-- <button type="submit">Enviar información</button> -->
            <button *ngIf="peticionProveedor.invalid" class="btnsSuplierDisabled" title="Click para solicitud de cuenta de proveedor." [disabled]="peticionProveedor.invalid" (click)="enviarMailSolicitud(peticionProveedor.value)">Enviar información</button>
            <button *ngIf="peticionProveedor.valid" class="btnsSuplier" title="Click para solicitud de cuenta de proveedor." (click)="enviarMailSolicitud(peticionProveedor.value)">Enviar información</button>
            <button class="btnsSuplier" title="Click para cancelar proceso de solicitud de cuenta de proveedor." (click)="cancel()">Cancelar</button>

            <!-- <pre>{{ formUsers.value | json }}</pre> -->
        </div>
    </form>
</body>
