@import '../../app.component.scss';
* {
    height: auto;
    width: auto;
}

.thumbnail {
    width: 86vw;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 30rem!important;
    // border: 1px solid red;
}

title {
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    margin-bottom: 6vw;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.btn {
    margin: 20px;
}

.btnCrear {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnCrear:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

.btnEventually {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2)!important;
    color: white!important;
    width: auto!important;
    height: auto!important;
}

.btnEventually:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}
