<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Ediar grupo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="editForm" (ngSubmit)="postEditForm(editForm.value)">
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Privacidad:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="privacidadGrupo" id="flexRadioDefault1" formControlName="privacidadGrupo" value="2">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Publica
                      </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="privacidadGrupo" id="flexRadioDefault2" formControlName="privacidadGrupo" value="1">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Privada
                      </label>
                    </div>

                    <label for="">Descripción:</label>
                    <div class="mb-2">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Explica de que tratará" rows="2" formControlName="descripcionGrupo"
                        [ngClass]="(editForm.get('descripcionGrupo')?.touched ||
                        editForm.get('descripcionGrupo')?.dirty) &&
                        editForm.get('descripcionGrupo')?.hasError('required')
                        ? 'is-invalid'
                        : '' || editForm.get('descripcionGrupo')?.hasError('minlength')
                        ? 'is-invalid'
                        : '' ||
                          ((editForm.get('descripcionGrupo')?.touched ||
                          editForm.get('descripcionGrupo')?.dirty) &&
                            !editForm.get('descripcionGrupo')?.invalid)
                        ? 'is-valid'
                        : ''"></textarea>
                    </div>
                    <div>
                      <label for="">Imagen Grupo:</label>
                      <div class="mb-2">
                        <input (change)="capturarFile($event)" type="file">
                      </div>
                      <h4>PREVISUALIZACION</h4>
                      <div *ngIf="previsualizacion">
                        <img width="150px" [src]="previsualizacion" alt="">
                      </div>
                      <div *ngIf="!previsualizacion">
                        <img width="150px" [src]="editForm.get('imagen')?.value" alt="imagen">
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid" (click)="refresh()">Editar grupo</button>
                </div>
            </div>
        </form>
    </div>
</div>
