<div class="container d-flex card shadow-sm" *ngIf="statePersonGroup == 1">
    <div class="row" *ngIf="eventGroupForm.get('estadoEvento')?.value == 1">
        <div class="especial" *ngIf="actualDate < dateTerminate">
            <div class="row">
                <img [src]="eventGroupForm.get('imagen')?.value" alt="" id="imagenGrupo">
            </div>
            <div class="row">
                <h2 class="titlePrincipal">{{eventGroupForm.get('nombreEvento')?.value}}</h2>
            </div>

            <div class="row">

                <div class="col-3 colum">
                    <div class="row">
                        <p class="textoTitulos">Participantes</p>
                    </div>
                    <div class="row">
                        <h4 class="textox">{{totalPersonsIn}}</h4>
                    </div>
                </div>

                <div class="col-3 colum">
                    <div class="row">
                        <p class="textoTitulos">Aforo del evento</p>
                    </div>
                    <div class="row">
                        <h4 class="textox">{{eventGroupForm.get('participantesTotales')?.value}}</h4>
                    </div>

                </div>

                <div class="col-3 colum">
                    <div class="row">
                        <h4 class="textoTitulos">Rol</h4>
                    </div>
                    <div class="row">
                        <p class="textox" *ngIf="statePersonGroup == 1">Organizador</p>
                        <p class="textox" *ngIf="statePersonGroup >= 2">Participante</p>
                    </div>
                </div>

                <div class="col-3 colum">
                    <div *ngIf="actualDate < dateEvent; else nodate">
                        <button class="btn btnEditar textox" (click)="editEvent(eventGroupForm.get('idEvento')?.value)">
                    Editar
                </button>
                    </div>
                    <ng-template #nodate>
                        <button class="btnEditar textox" (click)="editEvent(eventGroupForm.get('idEvento')?.value)" [disabled]="true">
                    Editar
                </button>
                    </ng-template>
                </div>

            </div>

            <div class="row">
                <div class="col-4 colum">
                    <div class="row">
                        <h4 class="textoTitulos">Fecha del evento:</h4>
                    </div>
                    <div class="row">
                        <p class="textox">{{eventGroupForm.get('fechaEvento')?.value}}</p>
                    </div>
                </div>
                <div class="col-4 colum">
                    <div class="row">
                        <h4 class="textoTitulos">Tipo de evento:</h4>
                    </div>
                    <div class="row">
                        <p class="textox">{{eventGroupForm.get('tipoEvento')?.value}}</p>
                    </div>
                </div>
                <div class="col-4 colum">
                    <div class="row">
                        <h4 class="textoTitulos">Lugar de realizacion o enlace:</h4>
                    </div>
                    <div class="row">
                        <p class="textox">{{eventGroupForm.get('direccion')?.value}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4 class="textoTitulos">Descripcion</h4>

            </div>
            <div class="row">
                <p class="textox">{{eventGroupForm.get('descripcionEvento')?.value}}</p>
            </div>
            <div class="row">
                <h1 class="tituloP">Añadir un proveedor</h1>
            </div>

            <div class="row">
                <app-event-provider [idEvento]="eventGroupForm.get('idEvento')?.value" [terminate]="terminate" [form]="eventGroupForm.value"></app-event-provider>
            </div>

        </div>
    </div>
</div>
