@import '../../../app.component.scss';
.container {
    // border: 1px solid black;
    width: 70vw;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 2rem;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-between;
    //     flex-grow: 1;
}

.row {
    // border: 1px solid red;
    padding: 0;
    margin: 0;
    width: 100%;
}

.colum {
    margin: 0;
    padding: 0;
    // border: 1px solid purple;
}

.card {
    border-radius: 1.5rem;
}

#imagenGrupo {
    border-radius: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.titlePrincipal {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    font-size: 4vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 3rem;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.imgCe {
    width: 250px;
    border-radius: 10%;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.tituloP {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    font-size: 2vw;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.especial {
    margin: 0;
    padding: 0;
    width: 100%;
    // border: 3px solid green;
}

.btnEditar {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white!important;
    width: auto!important;
    align-content: center!important;
    border-radius: 10%!important;
    border: 0;
    margin-left: 10rem;
    height: 3rem;
}

.btnEditar2 {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white!important;
    width: auto!important;
    align-content: center!important;
    border-radius: 10%!important;
    border: 0;
    margin-left: 10rem;
    height: 3rem;
    margin-bottom: 2rem;
}

.btnEditar:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

// zzzzzzz
// .content {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     flex-grow: 1;
//     margin-top: 40px;
//     margin: 5px 5px;
// }
.class-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
}

.title-state-container {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.title {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.state-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    padding-bottom: 10px;
}

.thumbnail {
    width: 70vw;
    height: 25vw;
    border-radius: 20px;
}

.title-event {
    margin-top: 10px;
}

.info-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 252, 252);
    margin-top: 10px;
    padding: 4px;
    border-radius: 5px;
    align-self: flex-start;
}

.info {
    background-color: rgb(228, 221, 247);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
    padding: 3px;
    border-radius: 4px;
}

.edit {
    position: absolute;
    margin-left: 65%;
}

.main-content-container {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
}

.main-info {
    background-color: rgb(252, 252, 252);
    margin: 10px 0px;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.a {
    margin: 0px 20px;
}

.a p {
    display: inline;
    font-size: medium;
    background-color: rgb(169, 184, 184);
}

.desc {
    font-size: large;
}

.check {
    width: 50px;
    height: 30px;
    margin: 10px 4px;
}

.label {
    margin: 10px 4px;
}

.form-check {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.h1-provider {
    padding-bottom: 30px;
}

.table-provider {
    display: block;
    align-self: center;
    width: 100%;
}
