 <!-- <div *ngIf="eventGroupForm.get('estadoEvento')?.value == 1> -->
<div *ngIf="eventGroupForm.get('estadoEvento')?.value == 1">
    
    <div class="content" >
        <div class="class-thumbnail">
            <img src="../../../../assets/main/events/danza.png" alt="Evento Danza" class="thumbnail">
        </div>
        <div class="title-state-container">
            <div class="title">
                <h2 class="title-event fs-1">{{eventGroupForm.get('nombreEvento')?.value}}</h2>
                <h4 class="fs-5">[Nombre Grupo]</h4>
            </div>
            <div class="state-event">
                <div class="form-check form-switch">
                    <!-- <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" checked data-bs-toggle="modal" data-bs-target="#staticBackdrop-disable">
                    <label class="form-check-label fw-bolder fs-4 label" for="flexSwitchCheckChecked">Deshabilitar evento</label> -->
                </div> 
            </div>
        </div>
        
        <div class="info-container">
            <div class="info">
                <h4 class="fs-5 fw-bold">{{eventGroupForm.get('participantesTotales')?.value}}</h4>         
                <p class="fw-bolder">participantes</p>
            </div>
            <div class="info">
                <h4 class="fs-5 fw-bold">Dylan Murillo Rios</h4>         
                <p class="fw-bolder">Organizador</p>
            </div>
            <div class="info">
                <h4 class="fs-5 fw-bold">25-02-2022</h4>         
                <p class="fw-bolder">fecha de creación</p>
            </div>
            <div class="info">
                <button class="btn btn-danger" (click)="modalOpen(content)">
                    Terminar
                </button>
                <p class="fw-bolder">Terminar y Resultados</p>
            </div>
            <div class="info edit">
                <!-- data-bs-toggle="modal" data-bs-target="#edit-modal-eventin" -->
                <button class="btn btn-primary"  (click)="editEvent(eventGroupForm.get('idEvento')?.value)" >
                    Editar
                </button>
                <p class="fw-bolder">Editar Evento y cambiar estado</p>
            </div>
        </div>
        <div class="main-content-container">
            <div class="main-info">
                <div class="a">
                    <h4 class="fs-5">Fecha de realizacion del evento:</h4>
                    <p class="fw-normal text-decoration-underline">{{eventGroupForm.get('fechaEvento')?.value}}</p>
                </div>
                <div class="a">
                    <h4 class="fs-5">Tipo de evento:</h4>
                    <p class="fw-normal text-decoration-underline">{{eventGroupForm.get('tipoEvento')?.value}}</p>
                </div>
                <div class="a">
                    <h4 class="fs-5">Lugar de realizacion:</h4>
                    <p class="fw-normal text-decoration-underline" >Parque de la milagrosa - Cl. 43, Medellín, Antioquia</p>
                </div>
            </div>
    
            <h4 class="fs-4 fw-bolder">Descripcion</h4>
            <p class="fw-normal text-break desc">{{eventGroupForm.get('descripcionEvento')?.value}}</p>
        </div>
    
        <h1 class="fs-1 h1-provider text-decoration-underline">Añadir un proveedor</h1>
        
    </div>
    <!--Table Provider services-->
    <div class="table-provider">
        <app-event-provider></app-event-provider>
    </div>
    
</div>

<div *ngIf="eventGroupForm.get('estadoEvento')?.value == 0">
    
    <h2>EVENTO DESHABILITADO, SEA PACIENTE, MIENTRAS ESTE ES HABILITADO.</h2>
</div>

<!-- <ng-template #pa3>
    <h2>EVENTO TERMINADO, SI DESEA PODRA CREAR UN NUEVO EVENTO.</h2>
</ng-template> -->

<div *ngIf="eventGroupForm.get('estadoEvento')?.value == 3">
    <h2>EVENTO TERMINADO O INEXISTENTE, SI DESEA PODRA CREAR UN EVENTO NUEVO.</h2>
    <button class="btn-primary" data-bs-toggle="modal2" data-bs-target="#content-modal2" role="button" (click)="modalOpen2(content2)" >Crear Evento</button>
</div>

<ng-template #content2 let-modal2>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    <form [formGroup]="createEventForm" (ngSubmit)="postForm(createEventForm.value)">
        <mat-datepicker class="modal" #picker style="z-index: 1000;"></mat-datepicker>
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content" >
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Creacion de eventos</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal2.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                                <label for="">Nombre del Evento:</label>
                                <input type="text" class="form-control" id=""
                                placeholder="Ej: El mejor evento" [ngClass]="
                                (createEventForm.get('nombreEvento')?.touched || createEventForm.get('nombreEvento')?.dirty) &&
                                    createEventForm.get('nombreEvento')?.errors ? 'is-invalid' : ''" formControlName="nombreEvento">
                                    <div class="invalid-feedback">
                                        {{
                                            createEventForm.get("nombreEvento")?.hasError("required")
                                            ? "Nombre requerida"
                                            : ""
                                        }}
                                    </div>

                                <label for="">Tipo de Evento:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"[ngClass]="
                                    (createEventForm.get('tipoEvento')?.touched || createEventForm.get('tipoEvento')?.dirty) &&
                                        createEventForm.get('tipoEvento')?.errors ? 'is-invalid' : ''" formControlName="tipoEvento" name="tipoEvento" value="presencial" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Presencial
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [ngClass]="
                                    (createEventForm.get('tipoEvento')?.touched || createEventForm.get('tipoEvento')?.dirty) &&
                                        createEventForm.get('tipoEvento')?.errors ? 'is-invalid' : ''" formControlName="tipoEvento" name="tipoEvento" value="virtual">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Virtual
                                    </label>
                                </div>
                                <div class="invalid-feedback">
                                    {{
                                        createEventForm.get("tipoEvento")?.hasError("required")
                                        ? "Tipo Requerido"
                                        : ""
                                    }}
                                </div>

                                <label for="">Descripcion Evento:</label>
                                <div class="mb-2">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Explica de que tratará y dónde será."
                                    rows="2" [ngClass]="(createEventForm.get('descripcionEvento')?.touched ||
                                    createEventForm.get('descripcionEvento')?.dirty) &&
                                    createEventForm.get('descripcionEvento')?.hasError('required')
                                    ? 'is-invalid'
                                    : '' || createEventForm.get('descripcionEvento')?.hasError('minlength')
                                    ? 'is-invalid'
                                    : '' ||
                                      ((createEventForm.get('descripcionEvento')?.touched ||
                                      createEventForm.get('descripcionEvento')?.dirty) &&
                                        !createEventForm.get('descripcionEvento')?.invalid)
                                    ? 'is-valid'
                                    : ''"

                             formControlName="descripcionEvento"></textarea>
                                </div>
                                <div class="invalid-feedback">
                                    {{
                                        createEventForm.get("descripcionEvento")?.hasError("required")
                                          ? " Descripcion requerida"
                                          : ""
                                      }}
                                      {{
                                        createEventForm.get("descripcionEvento")?.hasError("minlength")
                                          ? " 5 letras requeridas"
                                          : ""
                                      }}
                                </div>

                                <label for="">Fecha Realizacion:</label>
                                <input type="date" class="form-control" [ngClass]="
                                (createEventForm.get('fechaEvento')?.touched || createEventForm.get('fechaEvento')?.dirty) &&
                                    createEventForm.get('fechaEvento')?.hasError('required') ? 'is-invalid' : ''"
                                    formControlName="fechaEvento">
                                <!-- <input matInput [matDatepicker]="picker" class="form-control" [ngClass]="
                                (createEventForm.get('fechaEvento')?.touched || createEventForm.get('fechaEvento')?.dirty) &&
                                    createEventForm.get('fechaEvento')?.hasError('required') ? 'is-invalid' : ''" formControlName="fechaEvento"  style="display: inline; width: 90%;">
                                <mat-datepicker-toggle matSuffix [for]="picker" style="color: #000; " ></mat-datepicker-toggle>
                                <mat-datepicker class="modal" #picker></mat-datepicker> -->
                                <div class="invalid-feedback">
                                    {{
                                        createEventForm.get("fechaEvento")?.hasError("required")
                                        ? " Fecha requerida"
                                        : ""
                                    }}
                                </div>
                                <style>
                                    ::ng-deep .cdk-overlay-container {
                                      z-index: 2000;}
                                </style>


                                <label for="exampleInputEmail1">Numero Participantes:</label>
                                <input type="number" class="form-control" id="exampleInputEmail1"
                                 min="2" max="200" [ngClass]="
                                 (createEventForm.get('participantesTotales')?.touched || createEventForm.get('participantesTotales')?.dirty) &&
                                     createEventForm.get('participantesTotales')?.hasError('required') ? 'is-invalid' : ''" formControlName="participantesTotales">

                                <div class="invalid-feedback">
                                    {{
                                        createEventForm.get("participantesTotales")?.hasError("required")
                                        ? " Numero de participantes requeridos"
                                        : ""
                                    }}
                                </div>


                            <div class="check-container-politycs">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="invalidCheck" [ngClass]="

                                        createEventForm.get('check')?.hasError('required') ? 'is-invalid' : ''" formControlName="check">
                                    <label class="form-check-label" for="invalidCheck">
                                        Para la creación de el evento deberá estar de acuerdo con la ley 1480 de 2011 articulo 30 con respecto al evento a crear.
                                    </label>
                                    <div class="invalid-feedback">
                                        {{
                                            createEventForm.get("check")?.hasError("required")
                                            ? " Numero de participantes requeridos"
                                            : ""
                                        }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="createEventForm.invalid" data-bs-dismiss="modal">Crear evento</button>
                    </div>
                </div>


        </div>
    </form>



    <!-- <app-modal-disable-event [idEvent]="eventGroupForm.get('idEvento')?.value" [form]="eventGroupForm.value"></app-modal-disable-event> -->
</ng-template>


<ng-template #content let-modal>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <app-modal-disable-event [idEvent]="eventGroupForm.get('idEvento')?.value" [form]="eventGroupForm.value"></app-modal-disable-event>
</ng-template>

  