<header class="container">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="col-2 p-2">
                <img class="" src="../../assets/dashboard/icon/logo.png" alt="">
            </div>
            <div class="search col-3 p-3 input-group">

                <svg class="searchIcon varSearch input-group-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" stroke="white" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>

                <input type="text" class="varSearch form-control" placeholder="Buscar">
            </div>
            <div class="col-6 d-flex flex-row-reverse p-3">
                <ul class="nav nav-pills">

                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="col-5">
                                <li class="nav-item dropdown menuUser  btn-group">

                                    <a href="" class=" nav-link " id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="5,25"><svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" class="bi bi-bell-fill" style="margin-right: 2rem;" viewBox="0 0 16 16">
                                        <path fill="none" stroke="white" d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                      </svg></a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <!-- 
                                <li><a class="dropdown-item" href="#">Separated link</a></li> -->

                                        <li><a class="dropdown-item" routerLink="">5</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <!-- <li>
                                    <hr class="dropdown-divider">
                                </li> -->
                                    </ul>

                                </li>
                            </div>

                        </div>
                    </div>
                    <div class="row user">
                        <div class="col-12 d-flex">
                            <div class="col-5">
                                <li class="nav-item dropdown btn-group menuUser">
                                    <img class="imgUser btn dropdown-toggle rounded-circle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="35,5" src="../../../assets/user/20.jpg" alt="">


                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <h1>Cuenta</h1>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <!-- 
                                <li><a class="dropdown-item" href="#">Separated link</a></li> -->

                                        <li class="d-flex">
                                            <a class="dropdown-item" routerLink="../settings">
                                                <svg width="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                <h2>Cuenta</h2>
                                                <h3>Configuración de perfil.</h3>
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <!-- <li>
                                    <hr class="dropdown-divider">
                                </li> -->
                                    </ul>
                                </li>
                            </div>
                            <div class="col-7">
                                <p class="m-0 h6 nameUser">Hector Maya</p>
                                <h6 class="conect">En linea</h6>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>

        </div>

    </div>

</header>