<header class="container">
    <div class="row">

        <div class="col-1">
            <img class="logoEventually" src="../../../assets/icon/logo.png" alt="">
        </div>
        <div class="search col-4 p-3 input-group">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars">
                    <svg class="searchIcon varSearch input-group-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" stroke="white" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>
                </i>
            </label>
            <ul>
                <input type="text" class="varSearch form-control" placeholder="Buscar">
            </ul>
        </div>


        <div class=" col-xxl-4 col-xl-3 col-md-3 d-flex offset-xxl-3 offset-xl-1 align-items-center menus">
            <ul class="nav row justify-content-end  ulMenus">

                <div class="col-2 notif">
                    <li class="nav-item dropdown menuUser  btn-group">

                        <a href="" class=" nav-link " id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="5,25"><svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" class="bi bi-bell-fill" style="margin-right: 2rem;" viewBox="0 0 16 16">
                                        <path fill="none" stroke="white" d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                      </svg></a>
                        <span class="cantNoti text-center  "><h5>2</h5></span>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <h1>Notificaciones</h1>
                            </li>

                            <hr class="divider">

                            <!--
                                <li><a class="dropdown-item" href="#">Separated link</a></li> -->

                            <li class="d-flex">
                                <a class="dropdown-item" routerLink="../settings">
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="col-2">
                                                <svg viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg>
                                            </div>
                                            <div class="col-10 p-1 menuDrop">
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h2>Petición de creación de grupo</h2>
                                                </div>
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h3>Nombre del grupo.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="d-flex">
                                <a class="dropdown-item" routerLink="../settings">
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="col-2">
                                                <svg viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg>
                                            </div>
                                            <div class="col-10 p-1 menuDrop">
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h2>Petición de creación de evento</h2>
                                                </div>
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h3>Nombre del evento.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="d-flex mt-3">
                                <a class="dropdown-item" routerLink="../settings">
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="col-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                                            </div>

                                            <div class="col-10 menuDrop">
                                                <div class="col-5 mt-3">
                                                    <h2>Ir a notificaciones</h2>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- <li>
                                    <hr class="dropdown-divider">
                                </li> -->
                        </ul>

                    </li>
                </div>


                <div class="col-3">
                    <li class="nav-item dropdown btn-group menuUser">
                        <img class="imgUser btn dropdown-toggle rounded-circle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="35,5" src="../../../assets/user/20.jpg" alt="">


                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <h1>Cuenta</h1>
                            </li>

                            <hr class="divider">

                            <!--
                                <li><a class="dropdown-item" href="#">Separated link</a></li> -->

                            <li class="d-flex">
                                <a class="dropdown-item" routerLink="../settings">
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="col-2">
                                                <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            </div>
                                            <div class="col-10 p-1 menuDrop">
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h2>Cuenta</h2>
                                                </div>
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h3>Configuración de perfil.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="d-flex mt-3">
                                <a class="dropdown-item">
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="col-2">
                                                <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                            </div>
                                            <div class="col-10 p-1 menuDrop">
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h2>Dashboard</h2>
                                                </div>
                                                <div class="col-5 spaceDropdownMenu">
                                                    <h3>Apartado para admins.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="d-flex mt-3">
                                <a class="dropdown-item" (click)="logOut()" routerLink="../loginRegister">
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="col-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                            </div>

                                            <div class="col-10 menuDrop">
                                                <div class="col-5 mt-3">
                                                    <h2>Salir</h2>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            </li>
                            <!-- <li>
                                    <hr class="dropdown-divider">
                                </li> -->
                        </ul>
                    </li>
                </div>
                <div class="col-4">
                    <p class="m-0 h6 nameUser">Hector Maya</p>
                    <h6 class="conect">En linea</h6>
                </div>

            </ul>
        </div>

    </div>


</header>