.cards1 {
    border-radius: 1rem;
}

.nameUser {
    padding-top: 0.5rem;
}

.mailUser {
    color: gray;
}

.nav-pills {
    width: auto;
}

.changeLikes {
    width: 62rem;
    padding: 1rem;
    padding-right: 1rem;
    height: 28.5rem;
}

.selectNewLikes {
    label {
        border-radius: 14rem;
    }
    select {
        border-radius: 14rem;
    }
    option {
        text-align: center;
    }
}

.btnChangeLikes {
    margin-top: 5rem;
}