<!-- <a [routerLink]="['/groups/see-groups']" routerLinkActive="router-link-active"  class="back">&lt; Volver al inicio</a> -->
<div class="container card">

    <div *ngIf="!GroupForm.get('imagen')?.value">
        <img class="rounded card-img-top" id="imagenGrupo" src="../../../../assets/group/prueba.jfif" alt="{{ group?.nombreGrupo }}">
    </div>
    <div class="img-container class-thumbnail r" *ngIf="GroupForm.get('imagen')?.value">
        <img class="thumbnail rounded card-img-top" id="imagenGrupo" [src]="GroupForm.get('imagen')?.value" alt="{{ group?.nombreGrupo }}" class="thumbnail">
    </div>
    <table>
        <br>
        <tr>
            <td>
                <div>
                    <p class="product-name h2 title">{{ group?.nombreGrupo }}</p>
                    <p class="product-short-description h5 col-md-10 textox">{{ group?.descripcionGrupo }}</p>
                </div>
            </td>
            <td>
                <ng-container *ngFor="let likeI of likesI">
                    <div *ngIf="group?.gustos_idGusto == likeI.idGusto">
                        <p class="product-name h2 title">Preferencia</p>
                        <p class="product-short-description h5 textox">{{likeI.nombreGusto}}</p>
                    </div>
                </ng-container>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <div class="cart-row" *ngIf="personas">
                    <span class="price title h5">{{ group?.InvitadosTotales }} PARTICIPANTES</span>
                    <button title="Botón para unirse al grupo." class="btn btnUnirse textox" (click)="share()">Unirse
          </button>
                </div>
            </td>
            <td>
                <div class="cart-row textox" *ngIf="!personas">
                    <span class="price textox">Nadie se ha unido a este grupo aún</span>
                    <button class="btn btnUnirse" title="Botón para unirse al grupo." (click)="share()">Unirse
          </button>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <div class="cart-row " *ngIf="personas">
        <div class="row tables">
            <div class="col ">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="title">Nombre</th>
                            <th class="title">Email</th>
                            <th class="title">Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas">
                            <td class="textox">{{persona.nombre}}</td>
                            <td class="textox">{{persona.Email}}</td>
                            <td class="textox">{{persona.estado}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>