
  <a [routerLink]="['/groups/see-groups']" routerLinkActive="router-link-active"  class="back">&lt; Volver al inicio</a>
  <div class="container">
    <br>
      <div class="img-container">
        <img class="rounded card-img-top" src="../../../../../assets/group/prueba.jfif" alt="{{ group?.nombreGrupo }}">
      </div>
      <div class="info">
        <p class="product-name h2">{{ group?.nombreGrupo }}</p>
        <p class="product-short-description h5">{{ group?.descripcionGrupo }}</p>
        <div class="cart-row">
          <span class="price">{{ group?.invitadosTotales }} PARTICIPANTES</span>
          <button class="btn btn-primary" title="Solicitar Unirse" (click)="share()">Unirse
          </button>
        </div>
      </div>
  </div>
