@import '../../../../app.component.scss';
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    margin: 0;
    border-radius: 5%;
    padding: 0;
}

.textox {
    font-family: 'Ubuntu', sans-serif!important;
    font-weight: 350!important;
    color: black;
}

.title {
    font-weight: 700!important;
    color: black;
}

.r {
    margin: 0;
    padding: 0;
    // border: 1px solid purple;
}

#imagenGrupo {
    // border: 1px solid red;
    // border-radius: 15%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.t {
    width: 90%;
}

.btnUnirse {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
    margin-left: 20vw;
    width: auto;
}

.btnUnirse:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

@media only screen and (max-width: 795px) {
    .textox {
        font-size: 1rem!important;
    }
    .title {
        font-size: 1.2rem!important;
    }
    .btnUnirse {
        margin-left: 15vw;
    }
}

@media only screen and (max-width: 768px) {
    .btnUnirse {
        margin-left: 10vw;
    }
}

@media only screen and (max-width: 680px) {
    .container {
        width: 95%;
    }
    .btnUnirse {
        margin-left: 5vw;
    }
}

@media only screen and (max-width: 623px) {
    .btnUnirse {
        margin-left: 2vw;
    }
}

@media only screen and (max-width:531px) {
    .container {
        width: 93%;
    }
    .tables {
        overflow: scroll;
        width: 55vw!important;
    }
    .tables table {
        width: 10%!important;
    }
}

@media only screen and (max-width:441px) {
    .container {
        width: 93%;
    }
}

@media only screen and (max-width: 456px) {
    .textox {
        font-size: 0.7rem!important;
    }
    .title {
        font-size: 1.0rem!important;
    }
    .btnUnirse {
        margin-left: 15vw;
    }
}

@media only screen and (max-width:392px) {
    .textox {
        font-size: 0.5rem!important;
    }
    .title {
        font-size: 0.7rem!important;
    }
    .tables {
        overflow: scroll;
        width: 50vw!important;
    }
    .tables table {
        width: 9%!important;
    }
}

@media only screen and (max-width:322px) {
    .textox {
        font-size: 0.35rem!important;
    }
    .title {
        font-size: 0.5rem!important;
    }
    .tables {
        overflow: scroll;
        width: 40vw!important;
    }
    .tables table {
        width: 9%!important;
    }
}
