
  <a [routerLink]="['/groups/see-groups']" routerLinkActive="router-link-active"  class="back">&lt; Volver al inicio</a>
  <div class="container">
    <br>
    <div class="img-container class-thumbnail">
      <img class="thumbnail rounded card-img-top" [src]="GroupForm.get('imagen')?.value" alt="{{ group?.nombreGrupo }}" class="thumbnail">
    </div>
      <div class="info">
        <div class="cart-row">
          <div>
            <p class="product-name h2">{{ group?.nombreGrupo }}</p>
            <p class="product-short-description h5 col-md-10">{{ group?.descripcionGrupo }}</p>
          </div>
          <ng-container *ngFor="let likeI of likesI">
            <div *ngIf="group?.gustos_idGusto == likeI.idGusto">
              <p class="product-name h2">Preferencia</p>
              <p class="product-short-description h5">{{likeI.nombreGusto}}</p>
            </div>
          </ng-container>
        </div>
        <div class="cart-row">
          <span class="price">{{ group?.InvitadosTotales }} PARTICIPANTES</span>
          <button class="btn btn-primary" title="Solicitar Unirse" (click)="share()">Unirse
          </button>
        </div>
        <div class="cart-row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of personas">
                <td>{{persona.nombre}}</td>
                <td>{{persona.Email}}</td>
                <td>{{persona.estado}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
