<h2 class="fs-1 fw-bolder title">
    Peticiones Eventos</h2>

<!-- Jordan Table Start -->

<div class="row tables">
    <div class="col ">
        <table class="table table-striped">
            <thead class="titles">

                <tr>

                    <th class="textoTitulos" scope="col">Id de la petición</th>
                    <th class="textoTitulos" scope="col">estado Petición</th>
                    <th class="textoTitulos" scope="col">Deetalles sobre el evento</th>
                    <th class="textoTitulos" scope="col">Acciones</th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let request of requests">

                    <th class="textox" scope="row">{{request.idpeticionesEvento}}</th>

                    <td class="textox">
                        <div *ngIf="request.estadoPeticion == '1'">POR REVISAR</div>
                        <div *ngIf="request.estadoPeticion == '2'">ACEPTADO</div>
                        <div *ngIf="request.estadoPeticion == '3'">RECHAZADO</div>
                    </td>

                    <td class="textox">
                        <button class="btn btnHabilitar btn-sm " data-bs-toggle="modal21" data-bs-target="#content-modal21" type="button" (click)="modalOpen(content); getIdEvent(request.Evento_idEvento)">Detalle Evento</button>
                    </td>

                    <!-- Grupo está sin respuesta -->
                    <td style="width:10.5rem;" *ngIf="request.estadoPeticion==='1'">
                        <div class="d-grid gap-2 d-md-block">
                            <button (click)="aceptarPeticion(request.idpeticionesEvento)" type="button" class="btn btnHabilitar btn-sm">Aceptar</button>
                            <button (click)="rechazarPeticion(request.idpeticionesEvento)" type="button" class="btn btn-secondary btn-sm">Rechazar</button>
                        </div>
                    </td>

                    <!-- Grupo está habilitado -->
                    <td *ngIf="request.estadoPeticion==='2'">
                        <div class="form-check form-switch">
                            <button (click)="rechazarPeticion(request.idpeticionesEvento)" type="button" class="btn btn-secondary btn-sm">Inhabilitar</button>
                        </div>
                    </td>

                    <!-- Grupo está deshabilitado -->
                    <td *ngIf="request.estadoPeticion==='3'">
                        <div class="form-check form-switch">
                            <button (click)="aceptarPeticion(request.idpeticionesEvento)" type="button" class="btn btnHabilitar btn-sm">Habilitar</button>
                        </div>
                    </td>

                </tr>

            </tbody>

        </table>
    </div>
</div>

<ng-template #content let-modal21>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal21.dismiss('Cross click')"></button>
    <!-- <app-modal-disable-event [idEvento]="eventGroupForm.get('idEvento')?.value" [form]="eventGroupForm.value"></app-modal-disable-event> -->
    <app-datail-event [idEvent]="idEvent"></app-datail-event>
</ng-template>
