<div class="content">
    <h2 class="fs-1 fw-bolder">Peticiones Eventos</h2>

    <!-- Jordan Table Start -->

    <table class="table table-hover table-dark table-responsive">

        <thead>

            <tr>

                <th scope="col">Id de la petición</th>
                <th scope="col">estadoPeticion</th>
                <th scope="col">Evento_idEvento</th>
                <th scope="col">Acciones</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let request of requests">

                <th scope="row">{{request.idpeticionesEvento}}</th>

                <td>{{request.estadoPeticion}}</td>

                <td>{{request.Evento_idEvento }}</td>

                <!-- Grupo está sin respuesta -->
                <div *ngIf="request.estadoPeticion==='1'">
                    <div class="d-grid gap-2 d-md-block">
                        <button (click)="aceptarPeticion(request.idpeticionesEvento)" type="button" class="btn btn-outline-warning btn-sm">Aceptar</button>
                        <button (click)="rechazarPeticion(request.idpeticionesEvento)" type="button" class="btn btn-outline-danger btn-sm">Rechazar</button>
                    </div>
                </div>

                <!-- Grupo está habilitado -->
                <div *ngIf="request.estadoPeticion==='2'">
                    <div class="form-check form-switch">
                        <button (click)="rechazarPeticion(request.idpeticionesEvento)" type="button" class="btn btn-outline-danger btn-sm">Inhabilitar</button>
                    </div>
                </div>

                <!-- Grupo está deshabilitado -->
                <div *ngIf="request.estadoPeticion==='3'">
                    <div class="form-check form-switch">
                        <button (click)="aceptarPeticion(request.idpeticionesEvento)" type="button" class="btn btn-outline-warning btn-sm">Habilitar</button>
                    </div>
                </div>

            </tr>

        </tbody>

    </table>

    <!-- Jordan Table Finish -->

</div>