    @import '../../../app.component.scss';
    .title {
        font-family: 'Pacifico', cursive;
        font-size: 7vw;
        margin-top: 6rem;
        margin-bottom: 4vw;
        line-height: 6rem;
    }

    .textoTitulos {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
    }

    .textox {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 350;
    }

    .search {
        margin-left: 1rem;
        height: auto;
        border: 2px solid rgba(128, 128, 128, 0.322);
    }

    .btn {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 350;
    }

    .btnHabilitar {
        background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2)!important;
        color: white!important;
        border: 0px!important;
        border-radius: 10%!important;
        width: auto!important;
        height: auto!important;
        margin-right: 0.5rem;
    }

    .btnHabilitar:hover {
        background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
    }

    @media only screen and (max-width: 938px) {
        .tables {
            overflow: scroll;
            width: 75vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }

    @media only screen and (max-width: 895px) {
        .tables {
            overflow: scroll;
            width: 70vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }

    @media only screen and (max-width: 895px) {
        .tables {
            overflow: scroll;
            width: 75vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }

    @media only screen and (max-width: 624px) {
        .tables {
            overflow: scroll;
            width: 70vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }

    @media only screen and (max-width: 463px) {
        // margin-left: 4vw;
        .tables {
            overflow: scroll;
            width: 65vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }

    @media only screen and (max-width: 372px) {
        // margin-left: 4vw;
        .tables {
            overflow: scroll;
            width: 60vw!important;
        }
        .tables table {
            width: 8%!important;
        }
    }
