@import '../../../app.component.scss';
.texto {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.titulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.container {
    border: 5px solid black;
    width: 86vw;
    margin: 0;
    padding: 0;
}

.firts {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    width: auto;
}

.row .firts {
    margin: 0;
    padding: 0;
    border: 5px solid purple;
    // width: 100%;
}

.row .second {
    margin: 0;
    padding: 0;
    border: 5px solid gray;
    // width: 100%;
}

.third {
    width: 100%;
    width: 100%;
    border: 5px solid green;
}
