<div>
  <br>
  <br>
</div>
<form [formGroup]="createYourGroupForm" (ngSubmit)="postForm(createYourGroupForm.value)" class="row g-3">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Nombre grupo</label>
    <input type="text" class="form-control" id=""
    placeholder="Ej: Nombre del Grupo"
    [ngClass]="(createYourGroupForm.get('nombreGrupo')?.touched || createYourGroupForm.get('nombreGrupo')?.dirty) &&
    createYourGroupForm.get('nombreGrupo')?.errors ? 'is-invalid' : ''" formControlName="nombreGrupo">
    <div class="invalid-feedback">
      {{ createYourGroupForm.get("nombreGrupo")?.hasError("required") ? "Nombre requerido" : "" }}
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Estado</label>
    <div class="input-group">
      <input value="Deshabilitado" type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" disabled>
    </div>
  </div>
  <div class="mb-3">
    <label for="validationTextarea" class="form-label">Descripción</label>
    <div class="mb-2">
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Explica de que tratará y dónde será."
      rows="2" [ngClass]="(createYourGroupForm.get('descripcionGrupo')?.touched ||
      createYourGroupForm.get('descripcionGrupo')?.dirty) &&
      createYourGroupForm.get('descripcionGrupo')?.hasError('required')
      ? 'is-invalid'
      : '' || createYourGroupForm.get('descripcionGrupo')?.hasError('minlength')
      ? 'is-invalid'
      : '' ||
        ((createYourGroupForm.get('descripcionGrupo')?.touched ||
        createYourGroupForm.get('descripcionGrupo')?.dirty) &&
          !createYourGroupForm.get('descripcionGrupo')?.invalid)
      ? 'is-valid'
      : ''"

formControlName="descripcionGrupo"></textarea>
  </div>
  <div class="invalid-feedback">
      {{
        createYourGroupForm.get("descripcionGrupo")?.hasError("required")
            ? " Descripcion requerida"
            : ""
        }}
        {{
          createYourGroupForm.get("descripcionGrupo")?.hasError("minlength")
            ? " 5 letras requeridas"
            : ""
        }}
  </div>
    <!-- <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div> -->
  </div>
  <div class="col-md-3">
    <label for="validationDefault04" class="form-label">Privacidad</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
    [ngClass]="(createYourGroupForm.get('privacidadGrupo')?.touched || createYourGroupForm.get('privacidadGrupo')?.dirty) &&
    createYourGroupForm.get('privacidadGrupo')?.errors ? 'is-invalid' : ''" formControlName="privacidadGrupo" name="privacidadGrupo" value="2">
    <label class="form-check-label" for="flexRadioDefault">Publico</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
    [ngClass]="(createYourGroupForm.get('privacidadGrupo')?.touched || createYourGroupForm.get('privacidadGrupo')?.dirty) &&
    createYourGroupForm.get('privacidadGrupo')?.errors ? 'is-invalid' : ''" formControlName="privacidadGrupo" name="privacidadGrupo" value="1">
    <label class="form-check-label" for="flexRadioDefault">Privado</label>
    </div>
    <div class="invalid-feddback">
      {{ createYourGroupForm.get("privacidadGrupo")?.hasError("required") ? "Privacidad Requerida" : "" }}
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" [ngClass]="

      createYourGroupForm.get('check')?.hasError('required') ? 'is-invalid' : ''" formControlName="check">
      <label class="form-check-label" for="invalidCheck">
          Para la creación de el evento deberá estar de acuerdo con la ley 1480 de 2011 articulo 30 con respecto al evento a crear.
      </label>
      <div class="invalid-feedback">
          {{
            createYourGroupForm.get("check")?.hasError("required")
              ? " debe de estar de acuerdo con las politicas"
              : ""
          }}
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit" [disabled]="createYourGroupForm.invalid" (click)="share()">Crear</button>
  </div>
</form>
