@import '../../app.component.scss';

/*Content*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.principalContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    align-items: center;
    border: 1px solid red;
    min-height: 40rem;
}

.potente {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid red;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    margin-bottom: 6vw;
}


/*aside bar*/

.content-asidebar .content {
    background-color: #0389c9;
    height: 35vw;
    width: 200px;
    margin-right: 20px;
}

.content-asidebar {
    display: block;
    margin-top: 5%;
}

@media only screen and (max-width: 1200px) {
    .potente {
        padding-left: 8.5vw;
    }
}

@media only screen and (max-width: 992px) {
    .potente {
        padding-left: 7.5vw;
    }
}

@media only screen and (max-width: 575px) {
    .potente {
        padding-left: 0vw!important;
        width: 100%;
    }
}