<app-modal-create-event></app-modal-create-event>
<!-- <app-modal-edit-groups [childMessage]=id></app-modal-edit-groups> -->
<app-modal-events-completed></app-modal-events-completed>
<app-modal-report-events-groups-organizer></app-modal-report-events-groups-organizer>

<div class="eventsContainerContent">
    <!--Aside bar-->
    <!--CONTENT-->
    <div class="container mt-3 principalContainer">
        <br>
        <div>
            <img src="/assets/group/group.png" class="img-fluid" alt="...">
        </div>
        <app-nav-group></app-nav-group>

        <router-outlet></router-outlet>

        <br>
    </div>

</div>
