<!-- <div class="user row d-flex border">
    <div class="cards row card fondo-card shadow-sm border">
        <article class="card"></article>
    </div>
    <div class="cards1 row border">
        <p>sssssssssssssssss</p>
    </div>
</div> -->


<div class="col-12 col-lg-9 p-2 changeLikes ">
    <article class="cards1 card h-100 shadow-sm">
        <div class="card-body">
            <!-- PARA QUE LOS ELEMENTOS SE POSICIONEN UNO AL LADO DEL OTRO-->
            <div>
                <h1 class="m-0 h1">Selección Gustos</h1><br>
            </div>

            <div class="selectNewLikes input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Gustos actuales</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Musica,Baile</option>
                    <option value="1">Musica</option>
                    <option value="2">Baile</option>
                    <option value="3">Deporte</option>
                 </select>

            </div>

            <div class="btnChangeLikes d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Actualizar</button>
            </div>
        </div>
    </article>
</div>