
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eventos realizados</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="finishedEvents">
          <ng-container *ngFor="let finishedEvent of finishedEvents">
            <div class="card w-100">
              <div class="card-body">
                <h5 class="card-title">{{ finishedEvent.nombreEvento }}</h5>
                <p class="card-text">Este evento fue realizado el {{ finishedEvent.fechaEvento }}.</p>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="modal-body" *ngIf="!finishedEvents && manager">
          <p class="product-name h2">no has realizado ningún evento en este grupo</p>
        </div>
        <div class="modal-body" *ngIf="!finishedEvents && !manager">
          <p class="product-name h2">El organizador no ha realizado ningún evento en este grupo</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
