$principal: #B06AB3;
$principal2: #4568DC;
$btnsGenerals:rgba(186, 11, 192, 0.473);
$btnsGenerals2: rgba(89, 107, 212, 0.781);
$btnsGeneralsH:rgba(186, 11, 192, 0.658);
$btnsGenerals2H: rgba(89, 107, 212, 0.877);
$letterW: rgba(255, 255, 255, 0.822);
$second: rgba(197, 151, 199, 0.473);
$secondLetter:rgba(255, 255, 255, 0.5);
$thirdLetter:rgba(32, 32, 32, 0.856);
$fourthLetter:rgba(122, 119, 119, 0.945);
$groups: #b16ab3c4;
body {
    margin: 0;
    background-color: #ffffff;
}