<div class="modal-body">
    <div *ngIf="groups">
        <ng-container *ngFor="let group of groups">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title textoTitulos">{{group.nombreGrupo}}</h5>
                    <p class="card-text textox">{{group.descripcionGrupo}}.</p>
                    <!-- <p class="card-text">{{group.idDetalleGrupoPersona}} no me da :c</p> -->
                </div>
                <div class="modal-footer">
                    <button title="Click para aceptar la invitación." type="button" class="btn btnUnirse" data-bs-dismiss="modal" (click)="putEditDetail(group.idGrupos,group.idDetalleGrupoPersona,group.idPersona, 2)">Unirse</button>
                    <button title="Click para rechazar la invitación." type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="putEditDetail(group.idGrupos,group.idDetalleGrupoPersona,group.idPersona, 4)">Rechazar</button>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="!groups">
        <p class="product-name h2 textox">no has recibido ninguna invitación :(</p>
    </div>
</div>
