<article class="cards1 card shadow-sm">
    <div class="card-body">
        <div>
            <h1 class="m-0 h1">Información Personal</h1><br>
            <!-- {{childMessage}} -->
        </div>
        <div class="card ">
            <div class="card-body">
                <form [formGroup]="editarForm">
                    <!-- Nombre -->
                    <div class="mb-3">
                        <b><label class="form-label">Nombres</label></b>
                        <br>
                        <!-- <input required type="text" class="form-control" formControlName="nombre" aria-describedby="helpId" placeholder="Escribe tu nombre"> -->
                        {{this.datosPersona.nombre}}

                        <div class="separator"></div>

                    </div>

                    <!-- Apellidos -->
                    <div class="mb-3">
                        <b><label class="form-label">Apellidos</label></b>
                        <!-- <input required type="text" class="form-control" formControlName="apellidos" aria-describedby="helpId" placeholder="Escribe tus apellidos"> -->
                        <br>
                        {{this.datosPersona.apellidos}}

                        <div class="separator"></div>

                    </div>

                    <!-- Documento -->
                    <div class="mb-3">
                        <b><label class="form-label">Documento</label></b>
                        <!-- <input required type="text" class="form-control" formControlName="documento" aria-describedby="helpId" placeholder="Escribe tu documento"> -->
                        <br>
                        {{this.datosPersona.documento}}

                        <div class="separator"></div>

                    </div>

                    <!-- fechaNacimiento -->
                    <div class="mb-3">
                        <b><label class="form-label">Fecha de Nacimiento</label></b>
                        <!-- <input required type="date" class="form-control" formControlName="fechaNacimiento" aria-describedby="helpId" placeholder="Escribe tu fecha de nacimiento"> -->
                        <br>
                        {{this.datosPersona.fechaNacimiento}}

                        <div class="separator"></div>

                    </div>

                    <!-- Email -->
                    <!-- <div class="mb-3">
                          <label for="" class="form-label">Correo</label>
                          <input required type="email"
                            class="form-control" formControlName="correo" aria-describedby="helpId" placeholder="Escribe tu correo">
                        </div> -->

                    <!-- Inicio de muestra de gustos seleccionados -->

                    <div class="selectNewLikes input-group mb-3">

                        <div id="account-topics-subscribed" class="clearfix">
                            <p id="account-topics-add-more">¡Estos son tus gustos!</p>
                            <ul *ngFor="let gustos of misGustos" id="account-topics-subscribed-list" class="account-topics-list clearfix">
                                <li class="account-topics-item" data-topicid="1589" >
                                    <div class="account-topics-name">{{gustos.nombreGusto}}</div>
                                </li>
                                <!-- EJEMPLO:
                                <li class="account-topics-item" data-topicid="7203">
                                    <div class="account-topics-name">Education &amp; Technology</div>
                                    <a class="account-topics-remove"></a>
                                </li> -->
                            </ul>
                        </div>

                    </div>
                    <!-- Fin de muestra de gustos seleccionados -->

                    <!-- <div class="btnChangeLikes d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg" (click)="postForm(editarForm.value)">Actualizar</button>
                    </div> -->

                </form>
            </div>
        </div>
    </div>
</article>