@import '../../../app.component.scss';
.cards1 {
    border-radius: 1rem;
    margin-top: 1rem;
}

.titlePrincipal {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    font-size: 3vw;
    padding: 1.5rem;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.selectNewLikes {
    label {
        border-radius: 14rem;
    }
    select {
        border-radius: 14rem;
    }
    option {
        text-align: center;
    }
}

.btnChangeLikes .btn-primary {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
}

.btnChangeLikes .btn-primary:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

.separator {
    background: #ccc;
    width: 100%;
    height: 2px;
    margin-top: 16px;
}

//Muestra de grupos.
.account-topics-item {
    float: left;
    position: relative;
    background: #f2f2f2;
    padding: 4px 8px;
    margin: 0 6px 6px 0;
    width: 236px;
    overflow: hidden;
}

.account-topics-name {
    font-size: 13px;
    width: 208px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width:640px) {
    .account-topics-item {
        width: 25vw;
    }
}

@media only screen and (max-width:607px) {
    .imgAc {
        width: 9.5rem;
    }
}

@media only screen and (max-width:494px) {
    .account-topics-item {
        width: 25vw;
        div {
            font-size: 2vw;
        }
    }
}

@media only screen and (max-width:462px) {
    .account-topics-item {
        width: 25vw;
        div {
            font-size: 0.6rem;
        }
    }
    .imgAc {
        font-size: 0.6rem;
    }
    .cards1 {
        width: 13rem;
    }
}

@media only screen and (max-width:378px) {
    .cards1 {
        width: 55vw;
    }
    input {
        width: 40vw;
    }
    .btn {
        width: 40vw;
    }
}

@media only screen and (max-width:299px) {
    .cards1 {
        width: 45vw;
    }
    input {
        width: 35vw;
    }
    .btn {
        width: 35vw;
    }
    .imgAc {
        width: 7.1rem;
    }
}

// sssssss
@media only screen and (max-width: 1464px) {
    .titlePrincipal {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 1042px) {
    .titlePrincipal {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 850px) {
    .titlePrincipal {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 504px) {
    .titlePrincipal {
        font-size: 1.5rem;
    }
}