<ng-template #content let-modal>
  <app-modal-edit-groups [childMessage]=id></app-modal-edit-groups>
</ng-template>
<ng-template #content2 let-modal2>
  <app-modal-source-users [childMessage]=id></app-modal-source-users>
</ng-template>
<a [routerLink]="['/groups/your-groups']" routerLinkActive="router-link-active" class="back">&lt; Volver al inicio</a>
<div class="container">
    <br>
    <div class="info">
        <p class="product-name">{{ group?.nombreGrupo }}</p>
        <br>
        <div class="row g-5">
            <div class="col-md-8">
              <div>
                <p class="product-name h2">Sobre</p>
                <p class="product-short-description h5">{{group?.descripcionGrupo}}</p>
              </div>
              <div class="cart-row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Rol</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let persona of personas">
                      <td class="product-short-description">{{persona.nombre}}</td>
                      <td class="product-short-description">{{persona.Email}}</td>
                      <td class="product-short-description">{{persona.estado}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                      <ng-container *ngFor="let likeI of likesI">
                        <div *ngIf="group?.gustos_idGusto == likeI.idGusto">
                          <p class="product-name h2">Enfocado en</p>
                          <p class="product-short-description h5">{{likeI.nombreGusto}}</p>
                        </div>
                      </ng-container>
                    </div>
                    <div class="p-4">
                        <ul class="nav nav-taps">
                            <li class="nav-item dropdown">
                                <a class="h4 nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Opciones</a>
                                <ul class="dropdown-menu">
                                    <li><a class="h5 dropdown-item" role="button" href="#">Regresar</a></li>
                                    <!-- <li><a class="h5 dropdown-item" role="button" href="#">Crear evento</a></li> -->
                                    <!-- <li><a class="h5 dropdown-item" role="button" (click)="editarGroup(group?.idGrupos)" (click)="modalOpen(content)">Editar grupo Modal</a></li> -->
                                    <li><a class="h5 dropdown-item" role="button" (click)="editarGroup(group?.idGrupos)" data-bs-toggle="modal" data-bs-target="#content-modal" role="button" (click)="modalOpen(content)">Editar grupo</a></li>
                                    <div *ngIf="group?.privacidadGrupo == 1">
                                      <li><a class="h5 dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#content-modal2" role="button" (click)="modalOpen2(content2)">Invitar amigo</a></li>
                                    </div>
                                    <li><a class="h5 dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#modal-events-completed">Ver eventos realizados</a></li>
                                    <li><a class="h5 dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#modal-report-events-groups-organizer">Reportes</a></li>
                                    <li><a class="h5 dropdown-item" role="button" href="#">Deshabilitar Grupo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <button data-bs-toggle="modal" data-bs-target="#content-modal" role="button" (click)="modalOpen(content)">holaa</button> -->
        </div>
    </div>
</div>
<p class="h3">Evento a realizar</p>
<router-outlet>

</router-outlet>
