<ng-template #content let-modal>
  <app-modal-edit-groups [childMessage]=id></app-modal-edit-groups>
</ng-template>
<ng-template #content2 let-modal2>
  <app-modal-source-users></app-modal-source-users>
</ng-template>
<a [routerLink]="['/groups/your-groups']" routerLinkActive="router-link-active" class="back">&lt; Volver al inicio</a>
<div class="container">
    <br>
    <div class="info">
        <p class="product-name">{{ group?.nombreGrupo }}</p>
        <br>
        <div class="row g-5">
            <div class="col-md-8">
                <!-- <p class="h3">Eventos a realizar</p>
          <br> -->
                <!-- <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <p class=" h4 d-inline-block mb-2 text-primary">{{ event?.nombreEvento }}</p>
                <div class="mb-1 text-muted">{{ event?.fechaEvento }}</div>
                <p class="card-text mb-auto">{{ event?.descripcionEvento }}</p>
                <br>
                <a href="#" class="stretched-link">Participar</a>
              </div>
            </div>
          </div> -->

            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <p class="h3 fst-italic">Sobre</p>
                        <p class="mb-0">{{ group?.descripcionGrupo }}</p>
                    </div>
                    <div class="p-4">
                        <ul class="nav nav-taps">
                            <li class="nav-item dropdown">
                                <a class="h4 nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Opciones</a>
                                <ul class="dropdown-menu">
                                    <li><a class="h5 dropdown-item" role="button" href="#">Regresar</a></li>
                                    <!-- <li><a class="h5 dropdown-item" role="button" href="#">Crear evento</a></li> -->
                                    <!-- <li><a class="h5 dropdown-item" role="button" (click)="editarGroup(group?.idGrupos)" (click)="modalOpen(content)">Editar grupo Modal</a></li> -->
                                    <li><a class="h5 dropdown-item" role="button" (click)="editarGroup(group?.idGrupos)" data-bs-toggle="modal" data-bs-target="#content-modal" role="button" (click)="modalOpen(content)">Editar grupo</a></li>
                                    <li><a class="h5 dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#content-modal2" role="button" (click)="modalOpen2(content2)">Invitar amigo</a></li>
                                    <li><a class="h5 dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#modal-events-completed">Ver eventos realizados</a></li>
                                    <li><a class="h5 dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#modal-report-events-groups-organizer">Reportes</a></li>
                                    <li><a class="h5 dropdown-item" role="button" href="#">Deshabilitar Grupo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <button data-bs-toggle="modal" data-bs-target="#content-modal" role="button" (click)="modalOpen(content)">holaa</button> -->
        </div>
    </div>
</div>
<p class="h3">Evento a realizar</p>
<router-outlet>

</router-outlet>
