@import '../../../../app.component.scss';
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    margin: 0;
    border-radius: 5%;
    padding: 0;
}

.misMuchachos {
    border: 1px solid purple;
    width: 98%;
    margin-bottom: 1rem;
}

.tablita {
    margin-left: 4vw;
    width: 90%;
}

.row {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.nombre {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
}

.tituloE {
    padding-top: 2rem;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

.textox {
    font-family: 'Ubuntu', sans-serif!important;
    font-weight: 350!important;
    color: black;
}

.title {
    font-weight: 700!important;
    color: black;
}

.r {
    margin: 0;
    padding: 0;
    // border: 1px solid purple;
}

#imagenGrupo {
    // border-radius: 15%;
    width: 100%;
    margin: 0;
    padding: 0;
}

form {
    // border: 1px solid purple;
    margin: auto;
    padding: 0;
    width: 98%;
}

.t {
    width: 90%;
}

.btnUnirse {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
    margin-left: 20vw;
    width: auto;
}

.btnUnirse:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

.info {
    padding: 16px;
}

.btnEditar {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
    width: auto;
    border-radius: 10%;
}

.btnEditar:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}
