@import '../../../app.component.scss';
.cards1 {
    border-radius: 1rem;
    margin-top: 1rem;
}

.selectNewLikes {
    label {
        border-radius: 14rem;
    }
    select {
        border-radius: 14rem;
    }
    option {
        text-align: center;
    }
}

.btnChangeLikes .btn-primary {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
}

.btnChangeLikes .btn-primary:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}