<article class="cards1 card shadow-sm">
    <div class="card-body">
        <div>
            <h1 class="m-0 h1 titlePrincipal">Actualizar Información</h1><br>
            <!-- {{childMessage}} -->
        </div>
        <div class="card ">
            <div class="card-body">
                <form [formGroup]="editarForm">
                    <!-- Nombre -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Nombres</label></b>
                        <input class required type="text" class="form-control textox" formControlName="nombre" aria-describedby="helpId" placeholder="Escribe tu nombre">

                    </div>

                    <!-- Apellidos -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Apellidos</label></b>
                        <input required type="text" class="form-control textox" formControlName="apellidos" aria-describedby="helpId" placeholder="Escribe tus apellidos">

                    </div>

                    <!-- Documento -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Documento</label></b>
                        <input required type="text" class="form-control textox" formControlName="documento" aria-describedby="helpId" placeholder="Escribe tu documento">

                    </div>

                    <!-- fechaNacimiento -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Fecha de Nacimiento</label></b>
                        <input required type="date" class="form-control textox" formControlName="fechaNacimiento" aria-describedby="helpId" placeholder="Escribe tu fecha de nacimiento">
                    </div>

                    <div class="btnChangeLikes d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary  textox" (click)="postForm(editarForm.value)">Actualizar Información</button>
                    </div>

                    <div class="separator"></div>
                    <br>

                    <!-- Correo electrónico -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Correo Electrónico</label></b><br>
                        <p>{{this.datosPersona.Email}}</p>
                        <div class="recuperar textox">
                            <p>Para cambiar tu correo electrónico debes solicitarlo <br> dando click aquí ⊂(◉‿◉)つ <a href="" routerLink="loginRegister/forgot-password" (click)="emailChange()">Cambiar correo electrónico</a></p>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <br>

                    <form [formGroup]="imagenPerfilForm">
                        <!-- Imagen de pefil -->
                        <div class="mb-3">
                            <div>
                                <label class="textoTitulos" for="">Imagen de perfil:</label>
                                <div class="mb-2">
                                    <input class="imgAc" (change)="capturarFile($event)" type="file">
                                </div>
                                <h4 class="textox" *ngIf="previsualizacion != ''">PREVISUALIZACION</h4>
                                <div *ngIf="previsualizacion != ''">
                                    <img class="imgA" [src]="previsualizacion" alt="x">
                                </div>
                            </div>
                        </div>


                        <!-- INICIO Botón para actualizar imagen -->

                        <div class="btnChangeLikes d-flex justify-content-center">
                            <button class="textx img-fluid" type="submit" class="btn btn-primary textox" (click)="actualizarImagen(imagenPerfilForm.value)">Actualizar imagen de perfil</button>
                        </div>

                        <!-- FIN Botón para actualizar imagen -->
                    </form>


                    <div class="separator"></div>

                    <!-- Email -->
                    <!-- <div class="mb-3">
                          <label for="" class="form-label">Correo</label>
                          <input required type="email"
                            class="form-control" formControlName="correo" aria-describedby="helpId" placeholder="Escribe tu correo">
                        </div> -->

                    <!-- Selección de gustos -->

                    <br>

                    <div class="selectNewLikes input-group mb-3">
                        <!-- <b><label class="input-group-text" for="inputGroupSelect01">Gustos actuales</label></b>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Musica,Baile</option>
                            <option value="1">Musica</option>
                            <option value="2">Baile</option>
                            <option value="3">Deporte</option>
                        </select> -->

                        <div id="account-topics-subscribed" class="clearfix">
                            <p class="textoTitulos" id="account-topics-add-more">¡Estos son tus gustos!</p>
                            <ul class="textox" *ngFor="let gustos of misGustos" id="account-topics-subscribed-list" class="account-topics-list clearfix">
                                <li class="account-topics-item" data-topicid="1589">
                                    <div class="account-topics-name">{{gustos.nombreGusto}}</div>
                                    <a (click)="quitarGusto(gustos.nombreGusto)" class="account-topics-remove"></a>
                                </li>
                                <!-- EJEMPLO:
                                    <li class="account-topics-item" data-topicid="7203">
                                        <div class="account-topics-name">Education &amp; Technology</div>
                                        <a class="account-topics-remove"></a>
                                    </li> -->
                            </ul>
                        </div>

                        <div id="account-topics-subscribed" class="clearfix">
                            <!-- <p id="account-topics-add-more">¡Añade intereses adicionales!para que te podamos recomendar los grupos de Meetup más adecuados para ti.</p> -->
                            <p class="textoTitulos" id="account-topics-add-more">¡Añade intereses adicionales!</p>
                            <ul class="textox" *ngFor="let gusto of gustos" id="account-topics-subscribed-list" class="account-topics-list clearfix">

                                <li class="account-topics-item j-subscribe-to-topic" data-topicid="106688">
                                    <!-- <span class="sprite spritebg add_icon"></span> -->
                                    <!-- <span class="spritebg"></span> -->
                                    <div class="account-topics-name">

                                        <a (click)="agregarGusto(gusto.nombreGusto)">
                                            <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                        </a>{{gusto.nombreGusto}}


                                        <!-- <span (click)="agregarGusto(gusto.nombreGusto)" class="spritebg"></span> -->
                                    </div>
                                </li>

                                <!-- EJEMPLO -->
                                <!-- <li class="account-topics-item j-subscribe-to-topic" data-topicid="106688"> -->
                                <!-- <span class="sprite spritebg add_icon"></span> -->
                                <!-- <span class="spritebg"></span> -->
                                <!-- <div class="account-topics-name"><span (click)="texto()" class="spritebg"></span>Ministerio cristiano</div>
                                </li> -->

                            </ul>
                        </div>

                    </div>

                    <!-- Fin de la selección de gustos -->

                    <br>

                </form>

                <div class="separator"></div>

                <form [formGroup]="passwordForm">
                    <br>
                    <!-- Password Antiguo -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Contraseña actual (o código de recuperación)</label></b>
                        <input class="textox" required type="password" class="form-control" formControlName="oldPassword" aria-describedby="helpId" placeholder="Escribe tu contraseña antigua o código de recuperación">

                        <div class="recuperar">
                            <p class="textox">O recupera tu contraseña ⊂(◉‿◉)つ <a href="" routerLink="loginRegister/forgot-password" (click)="PasswordRecovery()">Recuperar contraseña</a></p>
                        </div>

                    </div>

                    <!-- Password Nuevo -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Contraseña nueva</label></b>
                        <input class="textox" required type="password" class="form-control" formControlName="newPassword" aria-describedby="helpId" placeholder="Escribe tu contraseña nueva">
                    </div>

                    <div class="btnChangeLikes d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary textox" (click)="completarForm(passwordForm.value)" (click)="changePassword(passwordForm.value)">Actualizar contraseña</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</article>