<article class="cards1 card shadow-sm">
    <div class="card-body">
        <div>
            <h1 class="m-0 h1 titlePrincipal">Actualizar Información</h1><br>
            <!-- {{childMessage}} -->
        </div>
        <div class="card ">
            <div class="card-body">
                <form [formGroup]="editarForm">
                    <!-- Nombre -->
                    <div class="mb-3">
                        <b><label class="form-label">Nombres</label></b>
                        <input required type="text" class="form-control" formControlName="nombre" aria-describedby="helpId" placeholder="Escribe tu nombre" [ngClass]="(editarForm.get('nombre')?.touched || editarForm.get('nombre')?.dirty) &&
                        editarForm.get('nombre')?.errors ? 'is-invalid' : '' || editarForm.get('nombre')?.hasError('minlength')
                        ? 'is-invalid' : '' || editarForm.get('nombre')?.hasError('pattern')
                        ? 'is-invalid' : ''">
                        <div class="invalid-feedback">
                            {{ editarForm.get("nombre")?.hasError("required") ? "Campo requerido" : "" }} {{ editarForm.get("nombre")?.hasError("pattern") ? "Campo solo con letras" : "" }}
                        </div>

                    </div>

                    <!-- Apellidos -->
                    <div class="mb-3">
                        <b><label class="form-label">Apellidos</label></b>
                        <input required type="text" class="form-control" formControlName="apellidos" aria-describedby="helpId" placeholder="Escribe tus apellidos" [ngClass]="(editarForm.get('apellidos')?.touched || editarForm.get('apellidos')?.dirty) &&
                        editarForm.get('apellidos')?.errors ? 'is-invalid' : '' || editarForm.get('apellidos')?.hasError('pattern')
                        ? 'is-invalid' : ''">
                        <div class="invalid-feedback">
                            {{ editarForm.get("apellidos")?.hasError("required") ? "Campo requerido" : "" }} {{ editarForm.get("apellidos")?.hasError("pattern") ? "Campo solo con letras" : "" }}
                        </div>

                    </div>

                    <!-- Documento -->
                    <div class="mb-3">
                        <b><label class="form-label">Documento</label></b>
                        <input required type="text" class="form-control" formControlName="documento" aria-describedby="helpId" placeholder="Escribe tu documento" [ngClass]="(editarForm.get('documento')?.touched || editarForm.get('documento')?.dirty) &&
                        editarForm.get('documento')?.hasError('required') ? 'is-invalid' : '' || editarForm.get('documento')?.hasError('minlength')
                        ? 'is-invalid' : '' || editarForm.get('documento')?.hasError('maxlength')
                        ? 'is-invalid' : '' || editarForm.get('documento')?.hasError('pattern')
                        ? 'is-invalid' : ''">
                        <div class="invalid-feedback">
                            {{ editarForm.get("documento")?.hasError("required") ? "Campo requerido" : "" }} {{ editarForm.get("documento")?.hasError("minlength") ? "Campo mínimo de 7 carácteres" : "" }} {{ editarForm.get("documento")?.hasError("maxlength") ? "Campo máximo de 10
                            carácteres" : "" }}
                        </div>
                        <div class="invalid-feedback">
                            {{ editarForm.get("documento")?.hasError("pattern") ? "Campo solo con numeros" : "" }}
                        </div>

                    </div>

                    <!-- fechaNacimiento -->
                    <div class="mb-3">
                        <b><label class="form-label">Fecha de Nacimiento</label></b>
                        <input required type="date" class="form-control" formControlName="fechaNacimiento" aria-describedby="helpId" placeholder="Escribe tu fecha de nacimiento" [ngClass]="(editarForm.get('fechaNacimiento')?.touched || editarForm.get('fechaNacimiento')?.dirty) &&
                        editarForm.get('fechaNacimiento')?.errors ? 'is-invalid' : ''">
                        <div class="invalid-feedback">
                            {{ editarForm.get("fechaNacimiento")?.hasError("required") ? "Campo requerido" : "" }}
                        </div>
                    </div>

                    <div class="btnChangeLikes d-flex justify-content-center">
                        <button *ngIf="editarForm.invalid" type="submit" class="btnActualizacionDisable btn btn-primary btn-lg" [disabled]="editarForm.invalid" (click)="postForm(editarForm.value)">Actualizar Información</button>
                        <button *ngIf="editarForm.valid" type="submit" class="btnActualizacion btn btn-primary btn-lg" (click)="postForm(editarForm.value)">Actualizar Información</button>
                    </div>

                    <div class="separator"></div>
                    <br>

                    <!-- Correo electrónico -->
                    <div class="mb-3">
                        <b><label class="form-label textoTitulos">Correo Electrónico</label></b><br>
                        <p>{{this.datosPersona.Email}}</p>
                        <div class="recuperar textox">
                            <p>Para cambiar tu correo electrónico debes solicitarlo <br> dando click aquí ⊂(◉‿◉)つ <a href="" routerLink="loginRegister/forgot-password" (click)="emailChange()">Cambiar correo electrónico</a></p>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <br>

                    <form [formGroup]="imagenPerfilForm">
                        <!-- Imagen de pefil -->
                        <div class="mb-3">
                            <div>
                                <label class="textoTitulos" for="">Imagen de perfil:</label>
                                <div class="mb-2">
                                    <input class="imgAc" (change)="capturarFile($event)" type="file">
                                </div>
                                <h4 class="textox" *ngIf="previsualizacion != ''">PREVISUALIZACION</h4>
                                <div *ngIf="previsualizacion != ''">
                                    <img class="imgA" [src]="previsualizacion" alt="x">
                                </div>
                            </div>
                        </div>

                        <!-- INICIO Botón para actualizar imagen -->

                        <div class="btnChangeLikes d-flex justify-content-center">
                            <button *ngIf="previsualizacion == ''" type="submit" class="btnActualizacionDisable btn btn-primary btn-lg" [disabled]="previsualizacion == ''" (click)="actualizarImagen(imagenPerfilForm.value)">Actualizar imagen de perfil</button>
                            <button *ngIf="previsualizacion != ''" type="submit" class="btnActualizacion btn btn-primary btn-lg" (click)="actualizarImagen(imagenPerfilForm.value)">Actualizar imagen de perfil</button>
                        </div>

                        <!-- FIN Botón para actualizar imagen -->
                    </form>


                    <div class="separator"></div>

                    <!-- Email -->
                    <!-- <div class="mb-3">
                          <label for="" class="form-label">Correo</label>
                          <input required type="email"
                            class="form-control" formControlName="correo" aria-describedby="helpId" placeholder="Escribe tu correo">
                        </div> -->

                    <!-- Selección de gustos -->

                    <br>

                    <div class="selectNewLikes input-group mb-3">
                        <!-- <b><label class="input-group-text" for="inputGroupSelect01">Gustos actuales</label></b>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Musica,Baile</option>
                            <option value="1">Musica</option>
                            <option value="2">Baile</option>
                            <option value="3">Deporte</option>
                        </select> -->

                        <div id="account-topics-subscribed" class="clearfix">
                            <p class="textoTitulos" id="account-topics-add-more">¡Estos son tus gustos!</p>
                            <ul class="textox" *ngFor="let gustos of misGustos" id="account-topics-subscribed-list" class="account-topics-list clearfix">
                                <li class="account-topics-item" data-topicid="1589">
                                    <div class="account-topics-name">{{gustos.nombreGusto}}</div>
                                    <a (click)="quitarGusto(gustos.nombreGusto)" class="account-topics-remove"></a>
                                </li>
                                <!-- EJEMPLO:
                                    <li class="account-topics-item" data-topicid="7203">
                                        <div class="account-topics-name">Education &amp; Technology</div>
                                        <a class="account-topics-remove"></a>
                                    </li> -->
                            </ul>
                        </div>

                        <div id="account-topics-subscribed" class="clearfix">
                            <!-- <p id="account-topics-add-more">¡Añade intereses adicionales!para que te podamos recomendar los grupos de Meetup más adecuados para ti.</p> -->
                            <p class="textoTitulos" id="account-topics-add-more">¡Añade intereses adicionales!</p>
                            <ul class="textox" *ngFor="let gusto of gustos" id="account-topics-subscribed-list" class="account-topics-list clearfix">

                                <li class="account-topics-item j-subscribe-to-topic" data-topicid="106688">
                                    <!-- <span class="sprite spritebg add_icon"></span> -->
                                    <!-- <span class="spritebg"></span> -->
                                    <div class="account-topics-name">

                                        <a (click)="agregarGusto(gusto.nombreGusto)">
                                            <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                        </a>{{gusto.nombreGusto}}


                                        <!-- <span (click)="agregarGusto(gusto.nombreGusto)" class="spritebg"></span> -->
                                    </div>
                                </li>

                                <!-- EJEMPLO -->
                                <!-- <li class="account-topics-item j-subscribe-to-topic" data-topicid="106688"> -->
                                <!-- <span class="sprite spritebg add_icon"></span> -->
                                <!-- <span class="spritebg"></span> -->
                                <!-- <div class="account-topics-name"><span (click)="texto()" class="spritebg"></span>Ministerio cristiano</div>
                                </li> -->

                            </ul>
                        </div>

                    </div>

                    <!-- Fin de la selección de gustos -->

                    <br>

                </form>

                <div class="separator"></div>

                <form [formGroup]="passwordForm">
                    <br>
                    <!-- Password Antiguo -->
                    <div class="mb-3">
                        <b><label class="form-label">Contraseña actual (o código de recuperación)</label></b>
                        <input required type="password" class="form-control" formControlName="oldPassword" aria-describedby="helpId" placeholder="Escribe tu contraseña antigua o código de recuperación" [ngClass]="(passwordForm.get('oldPassword')?.touched || passwordForm.get('oldPassword')?.dirty) &&
                        passwordForm.get('oldPassword')?.hasError('required') ? 'is-invalid' : '' || passwordForm.get('oldPassword')?.hasError('maxlength')
                        ? 'is-invalid' : '' || passwordForm.get('oldPassword')?.hasError('minlength')
                        ? 'is-invalid' : ''">
                        <div class="invalid-feedback">
                            {{ passwordForm.get("oldPassword")?.hasError("required") ? "Campo requerido" : "" }} {{ passwordForm.get("oldPassword")?.hasError("maxlength") ? "Máximo 12 caracteres" : "" }} {{ passwordForm.get("oldPassword")?.hasError("minlength") ? "Mínimo 3 caracteres"
                            : "" }}
                        </div>

                        <div class="recuperar">
                            <p class="textox">O recupera tu contraseña ⊂(◉‿◉)つ <a href="" routerLink="loginRegister/forgot-password" (click)="PasswordRecovery()">Recuperar contraseña</a></p>
                        </div>
                    </div>

                    <!-- Password Nuevo -->
                    <div class="mb-3">
                        <b><label class="form-label">Contraseña nueva</label></b>
                        <input required type="password" class="form-control" formControlName="newPassword" aria-describedby="helpId" placeholder="Escribe tu contraseña nueva" [ngClass]="(passwordForm.get('newPassword')?.touched || passwordForm.get('newPassword')?.dirty) &&
                        passwordForm.get('newPassword')?.hasError('required') ? 'is-invalid' : '' || passwordForm.get('newPassword')?.hasError('maxlength')
                        ? 'is-invalid' : '' || passwordForm.get('newPassword')?.hasError('minlength')
                        ? 'is-invalid' : ''">
                        <div class="invalid-feedback">
                            {{ passwordForm.get("newPassword")?.hasError("required") ? "Campo requerido" : "" }} {{ passwordForm.get("newPassword")?.hasError("maxlength") ? "Máximo 12 caracteres" : "" }} {{ passwordForm.get("newPassword")?.hasError("minlength") ? "Mínimo 3 caracteres"
                            : "" }}
                        </div>
                    </div>

                    <div class="btnChangeLikes d-flex justify-content-center">
                        <button *ngIf="passwordForm.invalid" type="submit" class="btnActualizacionDisable btn btn-primary btn-lg" [disabled]="passwordForm.invalid" (click)="completarForm(passwordForm.value)" (click)="changePassword(passwordForm.value)">Actualizar contraseña</button>

                        <button *ngIf="passwordForm.valid" type="submit" class="btnActualizacion btn btn-primary btn-lg" (click)="completarForm(passwordForm.value)" (click)="changePassword(passwordForm.value)">Actualizar contraseña</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</article>