<img src="../../../../assets/dashboard/crud-users/Active-users.jpg" alt="Usuarios banner" class="thumbnail">
<div class="content">
    <h2 class="fs-1 fw-bolder">Usuarios</h2>

    <h2 class="fs-1">Usuarios</h2>

    <!--TABLE-->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="idPersona">
            <th mat-header-cell *matHeaderCellDef> id. </th>
            <td mat-cell *matCellDef="let element"> {{element.idPersona}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container> -->

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef> Documento </th>
            <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="Estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element" {{element.Estado}}> -->
                <!-- <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                </div> -->
            <!-- </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#content-modal-users">Editar</button> </td>
        </ng-container> -->

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <!-- </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator> -->
    <!--TABLE//-->

    <!-- Jordan Table Start -->

    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">nombre</th>
            <th scope="col">apellidos</th>
            <th scope="col">documento</th>
            <th scope="col">fechaNacimiento</th>
            <th scope="col">Email</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas" (click)="editarPersona(persona.idPersona)">
            <th scope="row">{{persona.idPersona}}</th>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.documento}}</td>
            <td>{{persona.fechaNacimiento}}</td>
            <td>{{persona.Email}}</td>
            <div *ngIf="persona.Estado==='Activo'">
                <td>{{persona.Estado}}</td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                </div>
            </div>
          </tr>
          <tr>
        </tbody>
      </table>

    <!-- Jordan Table Finish -->

    <button class="btn btn-primary col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal" data-bs-target="#content-modal-users">
        Crear Usuario
    </button>
</div>