<app-modal-users [childMessage]=parentMessage></app-modal-users>

<div class="content">

    <u><h2 class="title">Usuarios</h2></u>



    <div class="row tables">
        <div class="col ">
            <div class="searcher">
                <label for="">BUSCAR NOMBRE USUARIO: </label>
                <input type="text" class="search" name="filterUser" placeholder="Buscar..." [(ngModel)]="filterUser">
            </div>
            <table class="table table-striped">
                <thead class="titles">

                    <tr>

                        <th class="textoTitulos" scope="col">ID</th>
                        <th class="textoTitulos" scope="col">Nombre</th>
                        <th class="textoTitulos" scope="col">Apellidos</th>
                        <th class="textoTitulos" scope="col">Documento</th>
                        <th class="textoTitulos" scope="col">FechaNacimiento</th>
                        <th class="textoTitulos" scope="col">Email</th>
                        <th class="textoTitulos" scope="col">Estado</th>
                        <th class="textoTitulos" scope="col">Acciones</th>

                    </tr>

                </thead>

                <tbody>

                    <tr class="textox" *ngFor="let persona of (personas | filterPipeUsers:filterUser)" (click)="editarPersona(persona.idPersona)">

                        <th class="textox" scope="row">{{persona.idPersona}}</th>

                        <td class="textox">{{persona.nombre}}</td>

                        <td class="textox">{{persona.apellidos}}</td>

                        <td class="textox">{{persona.documento}}</td>

                        <td class="textox">{{persona.fechaNacimiento}}</td>

                        <td class="textox">{{persona.Email}}</td>

                        <td>
                            <br>
                            <div *ngIf="persona.estado==='Activo'">

                                <div class="form-check form-switch">

                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="cambioEstado(persona.estado,persona.idPersona)">

                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                                </div>

                            </div>

                            <div *ngIf="persona.estado==='Inactivo'">


                                <div class="form-check form-switch">

                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="cambioEstado(persona.estado,persona.idPersona)">

                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                                </div>

                            </div>
                        </td>


                        <td>
                            <button (click)="editarPersona(persona.idPersona)" data-bs-toggle="modal" data-bs-target="#content-modal-users" type="button" class="btn btnEditar btn-sm">
                              <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><title>Editar</title><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                            </button>
                        </td>

                    </tr>

                    <tr>

                </tbody>

            </table>

            <!-- Jordan Table Finish -->



        </div>
    </div>

        <!-- No se necesita que el admin cree un usuario para nada, por ende deshabilitado -->

        <!-- <button class="btn btnUser col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal" data-bs-target="#content-modal-users">Crear</button> -->
    </div>
