<app-modal-users [childMessage]=parentMessage></app-modal-users>

<div class="content">

    <u><h2 class="title">Usuarios</h2></u>



    <div class="row tables">
        <div class="col ">
            <table class="table table-striped">
                <thead class="titles">

                    <tr>

                        <th class="textoTitulos" scope="col">ID</th>
                        <th class="textoTitulos" scope="col">nombre</th>
                        <th class="textoTitulos" scope="col">apellidos</th>
                        <th class="textoTitulos" scope="col">documento</th>
                        <th class="textoTitulos" scope="col">fechaNacimiento</th>
                        <th class="textoTitulos" scope="col">Email</th>
                        <th class="textoTitulos" scope="col">Estado</th>
                        <th class="textoTitulos" scope="col">Acciones</th>

                    </tr>

                </thead>

                <tbody>

                    <tr class="textox" *ngFor="let persona of personas" (click)="editarPersona(persona.idPersona)">

                        <th class="textox" scope="row">{{persona.idPersona}}</th>

                        <td class="textox">{{persona.nombre}}</td>

                        <td class="textox">{{persona.apellidos}}</td>

                        <td class="textox">{{persona.documento}}</td>

                        <td class="textox">{{persona.fechaNacimiento}}</td>

                        <td class="textox">{{persona.Email}}</td>


                        <div *ngIf="persona.estado==='Activo'">

                            <td></td>
                            <br>
                            <br>

                            <div class="form-check form-switch">

                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="cambioEstado(persona.estado,persona.idPersona)">

                                <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                            </div>

                        </div>

                        <div *ngIf="persona.estado==='Inactivo'">

                            <td></td>
                            <br>
                            <br>

                            <div class="form-check form-switch">

                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="cambioEstado(persona.estado,persona.idPersona)">

                                <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                            </div>

                        </div>

                        <td>
                            <button (click)="editarPersona(persona.idPersona)" data-bs-toggle="modal" data-bs-target="#content-modal-users" type="button" class="btn btnEditar btn-sm">Editar</button>
                        </td>

                    </tr>

                    <tr>

                </tbody>

            </table>

            <!-- Jordan Table Finish -->

            <button class="btn btnUser col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal" data-bs-target="#content-modal-users">

        Crear

    </button>

        </div>