<h2 class="fs-1 fw-bolder title">
    Peticiones Grupos</h2>

<!-- Jordan Table Start -->

<div class="row tables">
    <div class="col ">
        <table class="table table-striped">
            <thead class="titles">

                <tr>
                    <th class="textoTitulos" scope="col">Id de la petición</th>
                    <th class="textoTitulos" scope="col">estado Peticion</th>
                    <th class="textoTitulos" scope="col">Grupo</th>
                    <th class="textoTitulos" scope="col">Acciones</th>
                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let request of requests">

                    <th class="textox" scope="row">{{request.idpeticionesGrupo}}</th>

                    <td class="textox">
                        <div *ngIf="request.estadoPeticion == '1'">POR REVISAR</div>
                        <div *ngIf="request.estadoPeticion == '2'">ACEPTADO</div>
                        <div *ngIf="request.estadoPeticion == '3'">RECHAZADO</div>
                    </td>

                    <td class="textox">
                        <button class="btn-primary" data-bs-toggle="modal20" data-bs-target="#content-modal20" role="button" (click)="modalOpen(content); getIdGroup(request.Grupos_idGrupos)">Detalle Grupo</button>
                    </td>

                    <!-- Grupo está sin respuesta -->
                    <div *ngIf="request.estadoPeticion==='1'">
                        <div class="d-grid gap-2 d-md-block">
                            <button (click)="aceptarPeticion(request.idpeticionesGrupo)" type="button" class="btn btnHabilitar btn-sm">Aceptar</button>
                            <button (click)="rechazarPeticion(request.idpeticionesGrupo)" type="button" class="btnbtn-secondary btn-sm">Rechazar</button>
                        </div>
                    </div>

                    <!-- Grupo está habilitado -->
                    <div *ngIf="request.estadoPeticion==='2'">
                        <div class="form-check form-switch">
                            <button (click)="rechazarPeticion(request.idpeticionesGrupo)" type="button" class="btn btn-secondary btn-sm">Inhabilitar</button>
                        </div>
                    </div>

                    <!-- Grupo está deshabilitado -->
                    <div *ngIf="request.estadoPeticion==='3'">
                        <div class="form-check form-switch">
                            <button (click)="aceptarPeticion(request.idpeticionesGrupo)" type="button" class="btnbtn-secondary btn-sm">Habilitar</button>
                        </div>
                    </div>

                </tr>

            </tbody>


        </table>
    </div>
</div>

<ng-template #content let-modal20>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal20.dismiss('Cross click')"></button>
    <!-- <app-modal-disable-event [idEvento]="eventGroupForm.get('idEvento')?.value" [form]="eventGroupForm.value"></app-modal-disable-event> -->
    <app-datail-group [idGroup]="idGroup"></app-datail-group>
</ng-template>