<h2 class="fs-1 fw-bolder title">
    Peticiones Grupos</h2>

<!-- Jordan Table Start -->

<div class="row tables">
    <div class="col ">
        <div class="searcher">
            <label for="">BUSCAR ID GRUPO: </label>
            <input type="text" class="search" name="filterRequestGroup" placeholder="Buscar..." [(ngModel)]="filterRequestGroup">
        </div>
        <table class="table table-striped">
            <thead class="titles">

                <tr>
                    <th class="textoTitulos" scope="col">Id de la petición</th>
                    <th class="textoTitulos" scope="col">Estado Peticion</th>
                    <th class="textoTitulos" scope="col">Detalles sobre el grupo</th>
                    <th class="textoTitulos" scope="col">Acciones</th>
                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let request of (requests | filterPipeRequestGroup:filterRequestGroup)">

                    <th class="textox" scope="row">{{request.idpeticionesGrupo}}</th>

                    <td class="textox">
                        <div *ngIf="request.estadoPeticion == '1'">POR REVISAR</div>
                        <div *ngIf="request.estadoPeticion == '2'">ACEPTADO</div>
                        <div *ngIf="request.estadoPeticion == '3'">RECHAZADO</div>
                    </td>

                    <td>
                        <button class="btn btnHabilitar btn-sm " data-bs-toggle="modal20 " type="button" data-bs-target="#content-modal20 " (click)="modalOpen(content); getIdGroup(request.Grupos_idGrupos) ">Detalle Grupo</button>
                    </td>

                    <!-- Grupo está sin respuesta -->
                    <td *ngIf="request.estadoPeticion==='1' " style="width:10.5rem;">
                        <div class="d-grid gap-2 d-md-block">
                            <button (click)="aceptarPeticion(request.idpeticionesGrupo) " type="button " class="btn btnHabilitar btn-sm ">Aceptar</button>
                            <button (click)="rechazarPeticion(request.idpeticionesGrupo) " type="button " class="btn btn-secondary btn-sm ">Rechazar</button>
                        </div>
                    </td>

                    <!-- Grupo está habilitado -->
                    <td *ngIf="request.estadoPeticion==='2' ">
                        <div class="form-check form-switch ">
                            <button (click)="rechazarPeticion(request.idpeticionesGrupo) " type="button " class="btn btn-secondary btn-sm ">Inhabilitar</button>
                        </div>
                    </td>

                    <!-- Grupo está deshabilitado -->
                    <td *ngIf="request.estadoPeticion==='3' ">
                        <div class="form-check form-switch ">
                            <button (click)="aceptarPeticion(request.idpeticionesGrupo) " type="button " class="btn btnHabilitar btn-sm ">Habilitar</button>
                        </div>
                    </td>

                </tr>

            </tbody>


        </table>
    </div>
</div>

<ng-template #content let-modal20>
    <button type="button " class="btn-close closes " aria-label="Close " (click)="modal20.dismiss( 'Cross click') "></button>
    <!-- <app-modal-disable-event [idEvento]="eventGroupForm.get( 'idEvento')?.value " [form]="eventGroupForm.value "></app-modal-disable-event> -->
    <app-datail-group [idGroup]="idGroup "></app-datail-group>
</ng-template>
