<!--TABLE-->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
        
        <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="organizador">
        <th mat-header-cell *matHeaderCellDef> Nombre Organizador</th>
        <td mat-cell *matCellDef="let element"> {{element.organizador}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="nameGroup">
        <th mat-header-cell *matHeaderCellDef> Nombre Grupo </th>
        <td mat-cell *matCellDef="let element"> <p class="text-break desc">{{element.nameGroup}}</p> </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="nameEvento">
        <th mat-header-cell *matHeaderCellDef> Nombre evento </th>
        <td mat-cell *matCellDef="let element"> {{element.nameEvento}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha Realizacion </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#content-modal-check-event" >Revisar</button> </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
    
<!--TABLE//-->
