<body>
    <form ngNativeValidate [formGroup]="RecoveryForm">
        <div class="form">
            <h1>Recuperar contraseña</h1>
            <div class="grupo">
                <input type="email" name="" id="email" required formControlName="email" placeholder="Introduzca su Email por favor"><span
                    class="barra"></span>
                <label for="">Email</label>
            </div>
            <button (click)="sendRecoveryMail(RecoveryForm.value)">Enviar</button>
            <button (click)="cancel()">Cancelar</button>
            <!-- <pre>{{ formUsers.value | json }}</pre> -->
        </div>
    </form>
</body>

<!--

    <h1>Registra cuenta</h1>

    <form [formGroup]="formUsers">

    <label>Email

    <input type="email" name="email" formControlName="email">

    </label>

    <label>Password

    <input type="password" name="password" formControlName="password">

    </label>

    </form>

    <button (click)="sendData()">Registrarse</button>

    <pre>{{ formUsers.value | json }}</pre> -->