<body>
    <form ngNativeValidate [formGroup]="RecoveryForm">
        <div class="form">
            <h1>Recuperar contraseña</h1>
            <div class="grupo">
                <input type="email" name="" id="email" required formControlName="email" placeholder="Introduzca su Email por favor" [ngClass]="(RecoveryForm.get('email')?.touched || RecoveryForm.get('email')?.dirty) &&
                RecoveryForm.get('email')?.errors ? 'is-invalid' : '' || RecoveryForm.get('email')?.hasError('email')
                ? 'is-invalid' : ''"><span class="barra"></span>
                <label for="">Email</label>
                <div class="invalid-feedback">
                    {{ RecoveryForm.get("email")?.hasError("required") ? "Campo requerido" : "" }}
                    {{ RecoveryForm.get("email")?.hasError("email") ? "Campo de email persona@example.com" : "" }}
                </div>
            </div>
            <!-- {{RecoveryForm.get("email")?.errors | json}} -->

            <button *ngIf="RecoveryForm.invalid" type="submit" [disabled]="RecoveryForm.invalid" class="btnEnviarDisable" (click)="sendRecoveryMail(RecoveryForm.value)">Enviar</button>
            <button *ngIf="RecoveryForm.valid" type="submit" class="btnsForgot btnEnviar" (click)="sendRecoveryMail(RecoveryForm.value)">Enviar</button>
            <button class="btnsForgot" (click)="cancel()">Cancelar</button>
            <!-- <pre>{{ formUsers.value | json }}</pre> -->
        </div>
    </form>
</body>

<!--

    <h1>Registra cuenta</h1>

    <form [formGroup]="formUsers">

    <label>Email

    <input type="email" name="email" formControlName="email">

    </label>

    <label>Password

    <input type="password" name="password" formControlName="password">

    </label>

    </form>

    <button (click)="sendData()">Registrarse</button>

    <pre>{{ formUsers.value | json }}</pre> -->