    @import '../../app.component.scss';
    header {
        background-color: $principal;
        max-width: 100vw;
        width: 100%;
        height: 4.5rem;
        z-index: 3;
        margin-top: 0;
        a {
            color: $letterW;
            font-size: 14px;
        }
    }
    
    .varSearch {
        background-color: $second;
        border: none;
    }
    
    .varSearch::placeholder {
        color: rgb(196, 196, 196);
        ;
    }
    
    .search {
        width: 20rem;
        height: 5rem;
    }
    
    .searchIcon {
        width: 2.5rem;
    }
    
    .imgUser {
        float: right;
        margin-top: -0.8rem;
    }
    
    .menuUser {
        a {
            color: black;
        }
    }
    
    .nav-link {
        width: 5rem;
        border-radius: 50%;
    }
    
    .user {
        margin-right: -15rem;
        .nameUser {
            color: $letterW;
            font-size: 14px;
        }
        .conect {
            color: rgb(196, 196, 196);
            ;
        }
    }