<div class="col-sm-12 aloo">
  <div class="grid card aloo" *ngIf="group.privacidadGrupo==2" (click)="navigateToGroupDetails()">
    <!-- <div *ngIf="imagen===null">
      <img class="rounded card-img-top" src="../../../../assets/group/prueba.jfif" alt="{{ group.nombreGrupo }}" (click)="navigateToGroupDetails()">
    </div> -->
    <div class="group">
      <img class="rounded card-img-top" src="../../../../assets/group/prueba.jfif" alt="{{ group.nombreGrupo }}" (click)="navigateToGroupDetails()">
    </div>
    <div class="card-body">
      <h5 class="card-title" (click)="navigateToGroupDetails()">{{ group.nombreGrupo }}</h5>
      <div class="btn-group">
        <button class="btn btn-primary" (click)="navigateToGroupDetails()">Detalles</button>
        <button class="btn btn-primary" (click)="share()">Unirse</button>
      </div>
    </div>
  </div>
</div>
