
<div class="modal fade" id="content-modal-check-event" tabindex="-1" >
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Sobre el evento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="fw-bold">Nombre del Evento:</label>
                    <p class="fs-5">El mejor evento</p>
                    
                    <label for="" class="fw-bold">Tipo de Evento:</label>
                    <p class="fs-5">Presencial</p>

                    <label for="" class="fw-bold">Descripcion Evento:</label>
                    <p class="fs-5">Evento con el cual se busca demostrar de una vez por todas que un taco GOD  osea muy BTS.</p>

                    <label for="exampleInputEmail1">Fecha Realizacion:</label>
                    <p class="fs-5">04/06/2022</p>
                    
                    <label for="">Lugar:</label>
                    <p class="fs-5">La milagrosa- cra28d #48d 412</p>

                    <label for="exampleInputEmail1">Numero Participantes:</label>
                    <p class="fs-5">69</p>

                    <div class="check-container-politycs">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Una vez decida unise a este evento, se encontrara ligado, por ende aseguresé primero que el organizador haya contactado previamente con usted.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning">Rechazar participación</button>
                <button type="button" class="btn btn-primary">Unirse al evento</button>
            </div>
        </div>
    </div>
</div>