/*modal check politycs*/

.check-container-politycs {
    width: 50rem;
    float: right;
    padding: 5px;
    margin: 10px;
    background-color: #cfbfbf;
}

.solucionId {
    width: 0;
    height: 0;
    border: 0;
}

.selectTypeLike {
    margin-top: 2rem;
    width: 25%;
}

.inputG {
    width: auto;
}