<app-modal-edit-service [childMessage]="ServicesForm.get('idServicios')?.value"></app-modal-edit-service>
<!--THUMBNAIL of provider-->
<section class="thumbnail img-fluid">
    <div class="title">
        <h2 class="fs-1 fw-bold">Servicio</h2>
    </div>
</section>
<!--Options of provider-->
<section class="options-providers">
    <div class="left-options">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#content-modal-edit-service">
            Editar Servicio
        </button>
    </div>
    <div class="right-options">
        <div class="form-check form-switch">
            <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" (click)="changeStateServiceProv(ServicesForm.value)" *ngIf="ServicesForm.get('estadoServicio')?.value == 1" checked>
            <label class="form-check-label fs-5" for="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value == 1">Deshabilitar Servicio</label>
            <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" (click)="changeStateServiceProv(ServicesForm.value)" *ngIf="ServicesForm.get('estadoServicio')?.value == 2">
            <label class="form-check-label fs-5" for="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value == 2">Habilitar Servicio</label>
        </div> 
    </div>
</section>
<!--Service provided-->
<section class="service-provided-section" *ngIf="ServicesForm.get('estadoServicio')?.value == 1; else dissabledService">

    <div class="info-content">
        <label class="fs-5 fw-bold">Nombre Servicio</label>
        <p class="fs-6">{{ServicesForm.get('nombreServicio')?.value}}</p>
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Tipo Servicio</label>
        <p class="fs-6">{{ServicesForm.get('TipoServicio_idtipoServicio')?.value}}</p>
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Descripcion Servicio</label>
        <p class="fs-6">{{ServicesForm.get('descripcionServicio')?.value}}</p>
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Foto servicio</label>
        <img width="400px" [src]="ServicesForm.get('imagen')?.value" alt="">
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Precio estimado</label>
        <p class="fs-6">{{ServicesForm.get('precioEstimado')?.value}}</p>
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Empresas en las que trabajo anteriormente</label>
        <p class="fs-6">{{ServicesForm.get('historialEmpresas')?.value}}</p>
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Fecha desde que se realiza el servicio</label>
        <p class="fs-6">[EN ESPERA]</p>
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Numero de contacto</label>
        <p class="fs-6">{{ServicesForm.get('numeroContacto')?.value}}</p>
    </div>
    <div class="info-content">
        <label class="fs-5 fw-bold">Correo de contacto</label>
        <p class="fs-6">{{ServicesForm.get('correoContacto')?.value}}</p>
    </div>
</section>
<!--Invitation to events-->
<section class="invitations-section" *ngIf="ServicesForm.get('estadoServicio')?.value == 1; else dissabledService">
    <h2 class="fw-bolder">Invitaciones a eventos</h2>
    <div class="table-invitations">
        <app-table-invitations-events [childMessage]="idProvider"></app-table-invitations-events>
    </div>
    
</section>

<ng-template #dissabledService>
    <div class="disabledService">
        SERVICIO DESHABILITADO, PARA ACCEDER A LAS DIFERENTES OPCIONES DE ESTE, VUELVA A HABILITAR EL SERVICIO
    </div>
    
</ng-template>
