<app-modal-edit-service [childMessage]="ServicesForm.get('idServicios')?.value"></app-modal-edit-service>
<!--THUMBNAIL of provider-->
<div class="container d-flex card shadow-sm ">
    <div class="row rowP dd">
        <div class="row rowP">
            <u><p class="titlePrincipal">Mis Servicio</p></u>
        </div>
        <div class="row rowP textox">
            <div class="col-3 lastcontCampo2">
                <div class="right-options">
                    <div class="form-check form-switch">
                        <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" (click)="changeStateServiceProv(ServicesForm.value)" *ngIf="ServicesForm.get('estadoServicio')?.value == 1" checked>
                        <label class="form-check-label textox" for="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value == 1">Deshabilitar</label>
                        <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" (click)="changeStateServiceProv(ServicesForm.value)" *ngIf="ServicesForm.get('estadoServicio')?.value == 2">
                        <label class="form-check-label textox" for="flexSwitchCheckChecked" *ngIf="ServicesForm.get('estadoServicio')?.value == 2">Habilitar</label>
                    </div>
                </div>
            </div>
            <div class="col-12 columna colme d-flex textox" *ngIf="ServicesForm.get('estadoServicio')?.value == 1;">
                <!-- <div class="col-12 columna r d-flex" *ngIf="ServicesForm.get('estadoServicio')?.value == 1; else dissabledService"></div> -->
                <div class="col-4 columna  f">
                    <div class="row">
                        <label class="textoTitulos tituloImg">Foto servicio</label>
                    </div>
                    <div class="row">
                        <img class="img-fluid" [src]="ServicesForm.get('imagen')?.value" alt="">
                    </div>

                </div>
                <div class="responsiveD">
                    <div class="col-8 columna clou">
                        <div class="row">
                            <div class="col-4 contCampo">
                                <div class="row rs">
                                    <div class="col-3 campos">
                                        <label class="textoTitulos">Nombre Servicio</label>
                                    </div>
                                    <div class="col-3 campos">
                                        <p class="">{{ServicesForm.get('nombreServicio')?.value}}</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-4 contCampo">
                                <div class="row">
                                    <div class="col-3 campos ">
                                        <label class="textoTitulos">Tipo Servicio</label>
                                    </div>
                                    <div class="col-3 campos">
                                        <p class="textox">{{ServicesForm.get('TipoServicio_idtipoServicio')?.value}}</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-6 contCampo2">
                                <div class="row">
                                    <div class="col-3 campos2">
                                        <label class="textoTitulos">Descripcion Servicio</label>
                                    </div>
                                    <div class="col-3 campos3">

                                        <p class="textox">{{ServicesForm.get('descripcionServicio')?.value}}</p>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-4 contCampo">
                                <div class="row">
                                    <div class="col-3 campos">
                                        <label class="textoTitulos">Precio estimado</label>
                                    </div>
                                    <div class="col-4 campos">
                                        <p class="textox">{{ServicesForm.get('precioEstimado')?.value}}</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-4 contCampo">
                                <div class="row">
                                    <div class="col-3 campos ">
                                        <label class="textoTitulos">Empresas en las que trabajo anteriormente</label>
                                    </div>
                                    <div class="col-3 campos">
                                        <p class="Textox">{{ServicesForm.get('historialEmpresas')?.value}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-4 contCampo">
                                <div class="row">
                                    <div class="col-3 campos">
                                        <label class="textoTitulos">Numero de contacto</label>
                                    </div>
                                    <div class="col-4 campos">
                                        <p class="textox">{{ServicesForm.get('numeroContacto')?.value}}</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-4 contCampo">
                                <div class="row">
                                    <div class="col-3 campos">
                                        <label class="textoTitulos">Correo de contacto</label>
                                    </div>
                                    <div class="col-3 ">
                                        <p class="textox">{{ServicesForm.get('correoContacto')?.value}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-4 contCampo">
                                <div class="row">
                                    <div class="col-3 campos">
                                        <label class="textoTitulos">Fecha desde que se realiza el servicio</label>
                                    </div>
                                    <div class="col-3 campos">
                                        <p class="Textox">{{ServicesForm.get('fechaInicio')?.value}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 contCampo">
                                <div class="row">
                                    <div class="col-3 campos">
                                        <label class="textoTitulos">Estado</label>
                                    </div>
                                    <div class="col-3 campos">
                                        <p class="Textox">{{ServicesForm.get('fechaInicio')?.value}}</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row ">
                            <div class="col-4 contCampo">
                                <div class="row">

                                    <div class="col-2 contCampo">
                                        <div class="row">
                                            <button class="btn textox btnEditar  s" data-bs-toggle="modal" data-bs-target="#content-modal-edit-service">
                                Editar
                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
