@import '../../../app.component.scss';
.container {
    // height: auto;
    // border: 1px solid black;
    width: auto;
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 1.5rem;
}

.dd {
    padding-bottom: 3rem!important;
}

.responsiveD {
    padding-top: 5vw!important;
}

.titlePrincipal {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    font-size: 8vw;
    text-align: center;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
    font-size: 1rem;
}

.tituloImg {
    font-size: 2rem;
}

.rowP {
    // border: 1px solid red;
    width: 100%;
}

.campos {
    // border: 1px solid purple;
    margin: 0;
    padding: 0;
    width: 50%;
}

.contCampo {
    width: 50%;
    // border: 1px solid black;
    margin: 0;
    padding: 0;
}

.contCampo2 {
    width: 100%;
    // border: 1px solid black;
    margin: 0;
    padding: 0;
}

.campos2 {
    width: 15%;
    // border: 1px solid black;
    margin: 0;
    padding: 0;
}

.campos3 {
    width: 85%;
    // border: 1px solid black;
    margin: 0;
    padding: 0;
}

.row {
    // border: 1px solid red;
    width: 100%;
    margin: 0;
    padding: 0;
    img {
        width: 30rem;
        border-radius: 10%;
    }
}

.clou {
    width: 58Vw;
}

.columna {
    margin: 0;
    padding: 0;
    // border: 2px solid orange;
}

.responsiveD {
    width: auto;
    padding: 0;
    margin: 0;
}

.btn {
    width: auto;
}

.btnEditar {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnEditar:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

@media only screen and (max-width: 1075px) {
    .textox {
        font-size: 0.5rem!important;
    }
    .tituloImg {
        font-size: 2rem!important;
    }
    .rowP {
        // border: 1px solid red;
        width: 75vw;
    }
    .clou {
        width: 75Vw;
    }
    .rowP {
        // border: 1px solid red;
        width: 80vw;
    }
    // .clou {
    //     width: 55Vw;
    // }
    .campos {
        width: 11.5rem;
        // border: 1px solid red;
    }
    .contCampo {
        width: 23.5rem;
        // border: 1px solid black;
    }
    .rs {
        width: auto;
        // border: 1px solid purple;
    }
    .contCampo2 {
        width: 57.5rem;
        // border: 1px solid purple;
    }
    .campos2 {
        width: 5rem;
        // border: 1px solid pink;
    }
    .campos3 {
        width: 42rem;
        // border: 1px solid blue;
    }
    .responsiveD {
        .columna {
            // border: 1px solid green;
            width: 47.5rem;
        }
    }
    .colme {
        .responsiveD {
            padding-left: 2rem;
            overflow: scroll;
            width: 50vw!important;
        }
    }
}

@media only screen and (max-width: 825px) {
    .tituloImg {
        font-size: 1.5rem!important;
    }
}

@media only screen and (max-width: 668px) {
    .campos {
        width: 9rem;
        // border: 1px solid red;
    }
    .contCampo {
        width: 19rem;
        // border: 1px solid black;
    }
    .rs {
        width: auto;
        // border: 1px solid purple;
    }
    .contCampo2 {
        width: 38rem;
        // border: 1px solid purple;
    }
    .campos2 {
        width: 5rem;
        // border: 1px solid pink;
    }
    .campos3 {
        width: 32.5rem;
        // border: 1px solid blue;
    }
    .responsiveD {
        .columna {
            // border: 1px solid green;
            width: 47.5rem;
        }
    }
    .colme {
        .responsiveD {
            padding-left: 2rem;
            overflow: scroll;
            width: 50vw!important;
        }
    }
}

@media only screen and (max-width:629px) {
    .rowP {
        margin-bottom: 5vw;
    }
}

@media only screen and (max-width:526px) {
    .rowP {
        // border: 1px solid red;
        width: 70vw;
    }
    .colme {
        .responsiveD {
            padding-left: 1rem;
            overflow: scroll;
            width: 45vw!important;
        }
    }
}

@media only screen and (max-width:526px) {
    .rowP {
        // border: 1px solid red;
        width: 70vw;
    }
    .colme {
        .responsiveD {
            padding-left: 1rem;
            overflow: scroll;
            width: 45vw!important;
        }
    }
}

@media only screen and (max-width:502px) {
    .tituloImg {
        font-size: 1rem!important;
    }
}

@media only screen and (max-width:383px) {
    .tituloImg {
        font-size: 0.8rem!important;
    }
    .colme {
        .responsiveD {
            overflow: scroll;
            width: 45vw!important;
        }
    }
}

@media only screen and (max-width:367px) {
    .colme {
        .responsiveD {
            overflow: scroll;
            width: 40vw!important;
        }
    }
}

@media only screen and (max-width:332px) {
    .tituloImg {
        font-size: 0.6rem!important;
    }
}
