@import '../../../../app.component.scss';
.titlePrincipal {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    font-size: 3vw;
    padding: 1.5rem;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.imagen {
    width: 25rem;
    border-radius: 5%;
}


/*modal check politycs*/

.check-container-politycs {
    float: right;
    padding: 5px;
    margin: 10px;
    background-color: #cfbfbf;
}

.btnCrear {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnCrear:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

// #state:disabled {}
@media only screen and (max-width: 1464px) {
    .titlePrincipal {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 1042px) {
    .titlePrincipal {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 850px) {
    .titlePrincipal {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 504px) {
    .titlePrincipal {
        font-size: 1.5rem;
    }
}
