
<div class="col-12 col-lg-9 p-2 changeLikes ">
    <article class="cards1 card h-200 shadow-sm">
        <div class="card-body">
            <div>
                <h1 class="m-0 h1">Actualizar información</h1><br>
            </div>
            <div class="card ">
                <div class="card-body">
                    <form>
                        <!-- Nombre -->
                        <div class="mb-3">
                          <label class="form-label">Nombres</label>
                          <input required type="text"
                            class="form-control" formControlName="name" aria-describedby="helpId" placeholder="Escribe tu nombre">
                        </div>

                        <!-- Apellidos -->
                        <div class="mb-3">
                            <label class="form-label">Apellidos</label>
                            <input required type="text"
                              class="form-control" formControlName="lastName" aria-describedby="helpId" placeholder="Escribe tus apellidos">
                        </div>

                        <!-- Documento -->
                        <div class="mb-3">
                            <label class="form-label">Documento</label>
                            <input required type="text"
                              class="form-control" formControlName="Document" aria-describedby="helpId" placeholder="Escribe tu documento">
                          </div>

                        <!-- fechaNacimiento -->
                        <div class="mb-3">
                            <label class="form-label">Fecha de Nacimiento</label>
                            <input required type="date"
                              class="form-control" formControlName="bornDate" aria-describedby="helpId" placeholder="Escribe tu fecha de nacimiento">
                          </div>

                        <!-- Email -->
                        <!-- <div class="mb-3">
                          <label for="" class="form-label">Correo</label>
                          <input required type="email"
                            class="form-control" formControlName="correo" aria-describedby="helpId" placeholder="Escribe tu correo">
                        </div> -->

                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <!-- <button type="button" routerLink="/listar-empleado/" class="btn btn-primary">Cancelar</button> -->
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </article>
</div>