<form [formGroup]="editForm" (ngSubmit)="postEditForm(editForm.value)">
    <div class="modal fade" id="edit-modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Creacion de eventos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <label for="">ID del Evento:</label>
                        <input type="text" class="form-control" id=""
                        placeholder="Ej: El mejor evento" formControlName="idEvento">

                        <label for="">Nombre del Evento:</label>
                        <input type="text" class="form-control" id=""
                        placeholder="Ej: El mejor evento" formControlName="nombreEvento">
                        
                        <label for="">Tipo de Evento:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" formControlName="tipoEvento" name="tipoEvento" value="presencial" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Presencial
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" formControlName="tipoEvento" name="tipoEvento" value="virtual">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Virtual
                            </label>
                        </div>
    
                        <label for="">Descripcion Evento:</label>
                        <div class="mb-2">
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Explica de que tratará"
                             rows="2" formControlName="descripcionEvento"></textarea>
                        </div>
    
                        <label for="">Fecha Realizacion:</label>
                            <input matInput [matDatepicker]="picker" class="form-control" formControlName="fechaEvento" style="display: inline; width: 90%;">
                            <mat-datepicker-toggle matSuffix [for]="picker" style="color: #000; " ></mat-datepicker-toggle>
                            <mat-datepicker class="modal" #picker></mat-datepicker>
                            
                            <style>
                                ::ng-deep .cdk-overlay-container {
                                  z-index: 2000;}
                            </style>
                        
                          
    
                        <label for="exampleInputEmail1">Numero Participantes:</label>
                            <input type="number" class="form-control" id="exampleInputEmail1"
                             min="2" max="200" formControlName="ParticipantesTotales">

                        <label for="">ID del Grupo:</label>
                        <input type="text" class="form-control" id=""
                        placeholder="Ej: El mejor evento" formControlName="Grupos_idGrupos">

                        <label for="">Estado Evento:</label>
                        <input type="text"  class="form-control" id=""
                        placeholder="Ej: El mejor evento" formControlName="estadoEvento"[readonly]="true">
                        <div class="form-check form-switch">
                            <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" *ngIf="editForm.get('estadoEvento')?.value != 1" (click)="switchStateEvent(editForm.get('estadoEvento')?.value)" >
                            <input class="form-check-input check" type="checkbox" id="flexSwitchCheckChecked" *ngIf="editForm.get('estadoEvento')?.value == 1" (click)="switchStateEvent(editForm.get('estadoEvento')?.value)" checked >
                            <label class="form-check-label fw-bolder fs-4 label" for="flexSwitchCheckChecked" *ngIf="editForm.get('estadoEvento')?.value != 1">Habilitar evento</label>
                            <label class="form-check-label fw-bolder fs-4 label" for="flexSwitchCheckChecked" *ngIf="editForm.get('estadoEvento')?.value == 1">Deshabilitar evento</label>
                        </div> 

    
                        <!-- <div class="check-container-politycs">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Para la creación de el evento deberá estar de acuerdo con la ley 1480 de 2011 articulo 30 con respecto al evento a crear.
                                </label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="refresh()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
</form>
