@import '../../app.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
footer {
    margin: 0;
    padding: 0;
    bottom: 0;
    // position: absolute;
    width: 100%;
    background: linear-gradient(to right, $principal, $principal2);
    h1 {
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        color: $letterW;
        margin-bottom: 0;
    }
    .list {
        list-style: none;
        a {
            text-decoration: none;
            color: $letterW;
            font-family: 'Exo 2', sans-serif;
        }
    }
    .hrFooder {
        color: $letterW;
        width: 50%;
        size: 5rem;
        margin: 0 25% 0 25%;
    }
    .footer-copyright {
        background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
        color: $letterW;
        a {
            color: $letterW;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 6.5vw!important;
    }
    .hrFooder {
        width: 25vw!important;
        size: 5vw;
    }
    .letras {
        font-size: 2.5vw!important;
    }
}