@import '../app.component.scss';
body .container {
    max-width: 100vw;
    width: 100%;
    margin-top: 0;
    padding-top: 5rem;
}

body {
    height: auto;
}

.containerDash {
    width: 85%;
}

.men {
    width: 10%;
    margin-left: -1rem!important;
}


/*Content*/

.dashboard-container-content {
    background: lightgoldenrodyellow;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.principalContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    width: 150vh;
    background-color: #0389c9;
}


/*aside bar*/

.content-asidebar .content {
    background-color: #0389c9;
    height: 35vw;
    width: 16vw;
    margin-right: 10px;
}

.content-asidebar {
    display: block;
    margin-top: 5%;
}


/*footer*/

footer {
    display: block;
    margin-top: 5%;
}

footer .content {
    background-color: #0389c9;
    height: 60px;
    max-width: 100vw;
    width: 100%;
}

@media only screen and (max-width: 427px) {
    // .containerDash {
    //     width: 60%;
    // }
    .men {
        width: 5rem;
    }
}

// @media only screen and (max-width: 399px) {
//     .containerDash {
//         width: 20%;
//     }
//     .tables {
//         overflow: scroll;
//     }
//     .tables .table {
//         width: 2%!important;
//         margin: 0;
//     }
//     .d {
//         padding-left: -1rem;
//     }
// }