@import '../../app.component.scss';
:host {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    margin-bottom: 6vw;
}

.content {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 4vw;
    margin-left: 4vw;
    height: auto!important;
}

.textoTitulos {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.btn {
    margin: 20px;
    width: auto;
}

.btnEditar {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnEditar:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

.btnCrear {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnCrear:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}

@media only screen and (max-width: 970px) {
    .content {
        width: 74vw!important;
        margin-left: 10vw!important;
        .tables {
            overflow: scroll;
            width: 74vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 428px) {
    .content {
        width: 65vw!important;
        margin-left: 4vw!important;
        .tables {
            overflow: scroll;
            width: 65vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 350px) {
    .content {
        margin-left: 2vw!important;
    }
}

@media only screen and (max-width: 338px) {
    .content {
        width: 55vw!important;
        margin-left: 4vw!important;
        .tables {
            overflow: scroll;
            width: 55vw!important;
        }
        .tables table {
            width: 10%!important;
        }
    }
}

@media only screen and (max-width: 294px) {
    .content {
        margin-left: 1vw!important;
    }
}