<img src="https://www.elcolombiano.com/binrepository/1200x800/0c86/1200d627/none/11101/OOIJ/proveedores-empresarios_38710307_20211009175751.jpg" alt="Proveedores banner" class="thumbnail">
<div class="content">
    <h2 class="fs-1 fw-bolder">Proveedores</h2>

    <h2 class="fs-1">Proveedores</h2>

    <!--TABLE-->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> id. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#content-modal-suppliers">Editar</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator> -->
    <!--TABLE//-->
    <!-- <button class="btn btn-primary col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal" data-bs-target="#content-modal-suppliers">
        Crear Proveedor
    </button> -->


    <!-- Jordan Table Start -->

    <table class="table table-hover table-dark table-responsive">

        <thead>

            <tr>

                <th scope="col">ID</th>
                <th scope="col">nombreProveedor</th>
                <th scope="col">apellidoProveedor</th>
                <th scope="col">fechaNacimiento</th>
                <th scope="col">correoProveedor</th>
                <th scope="col">Estado</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let proveedor of proveedores" (click)="editarProveedor(proveedor.idProveedor)">

                <th scope="row">{{proveedor.idProveedor}}</th>

                <td>{{proveedor.nombreProveedor}}</td>

                <td>{{proveedor.apellidoProveedor}}</td>

                <td>{{proveedor.fechaNacimiento}}</td>

                <td>{{proveedor.correoProveedor}}</td>


                <div *ngIf="proveedor.Estado==='Activo'">

                    <td></td>
                    <br>
                    <br>

                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="cambioEstado(proveedor.Estado,proveedor.idProveedor)">

                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                    </div>

                </div>

                <div *ngIf="proveedor.Estado==='Inactivo'">

                    <td></td>
                    <br>
                    <br>

                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="cambioEstado(proveedor.Estado,proveedor.idProveedor)">

                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                    </div>

                </div>

                <td>
                    <button (click)="editarProveedor(proveedor.idProveedor)" data-bs-toggle="modal"
                    data-bs-target="#content-modal-suppliers" type="button" class="btn btn-primary btn-sm" >Editar</button>
                </td>

            </tr>

            <tr>

        </tbody>

    </table>

    <!-- Jordan Table Finish -->

    <button class="btn btn-primary col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal"
        data-bs-target="#content-modal-suppliers">

        Crear Proveedor

    </button>

</div>