<!-- <app-modal-suppliers [childMessage]=parentMessage></app-modal-suppliers> -->
<app-modal-suppliers-create></app-modal-suppliers-create>
<app-modal-suppliers-edit [childMessage]="parentMessage"></app-modal-suppliers-edit>
<img src="https://www.elcolombiano.com/binrepository/1200x800/0c86/1200d627/none/11101/OOIJ/proveedores-empresarios_38710307_20211009175751.jpg" alt="Proveedores banner" class="thumbnail">
<div class="content">
    <h2 class="fs-1 fw-bolder">Proveedores</h2>

    <h2 class="fs-1">Proveedores</h2>
    <!-- Jordan Table Start -->

    <table class="table table-hover table-dark table-responsive">

        <thead>

            <tr>

                <th scope="col">ID</th>
                <th scope="col">nombreProveedor</th>
                <th scope="col">apellidoProveedor</th>
                <th scope="col">fechaNacimiento</th>
                <th scope="col">correoProveedor</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let proveedor of proveedores" (click)="editarProveedor(proveedor.idProveedor)">

                <th scope="row">{{proveedor.idProveedor}}</th>

                <td>{{proveedor.nombreProveedor}}</td>

                <td>{{proveedor.apellidoProveedor}}</td>

                <td>{{proveedor.fechaNacimiento}}</td>

                <td>{{proveedor.correoProveedor}}</td>


                <div *ngIf="proveedor.estado == 1">

                    <td></td>
                    <br>
                    <br>

                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="cambioEstado(proveedor.estado,proveedor.idProveedor)">

                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                    </div>

                </div>

                <div *ngIf="proveedor.estado == 2">

                    <td></td>
                    <br>
                    <br>

                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="cambioEstado(proveedor.estado,proveedor.idProveedor)">

                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                    </div>

                </div>

                <td>
                    <button (click)="editarProveedor(proveedor.idProveedor)" data-bs-toggle="modal"
                    data-bs-target="#content-modal-suppliersEdit" type="button" class="btn btn-primary btn-sm" >Editar</button>
                </td>

            </tr>

            <tr>

        </tbody>

    </table>

    <!-- Jordan Table Finish -->

    <button class="btn btn-primary col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal"
        data-bs-target="#content-modal-suppliersCreate">

        Crear Proveedor

    </button>

</div>