<!-- <app-modal-suppliers [childMessage]=parentMessage></app-modal-suppliers> -->
<app-modal-suppliers-create></app-modal-suppliers-create>
<app-modal-suppliers-edit [childMessage]="parentMessage"></app-modal-suppliers-edit>
<div class="content">
    <u><h2 class="title">Proveedores</h2></u>
    <!-- Jordan Table Start -->

    <div class="row tables">
        <div class="col ">
            <table class="table table-striped">
                <thead class="titles">

                    <tr>

                        <th class="textoTitulos" scope="col">ID</th>
                        <th class="textoTitulos" scope="col">nombreProveedor</th>
                        <th class="textoTitulos" scope="col">apellidoProveedor</th>
                        <th class="textoTitulos" scope="col">fechaNacimiento</th>
                        <th class="textoTitulos" scope="col">correoProveedor</th>
                        <th class="textoTitulos" scope="col">Estado</th>
                        <th class="textoTitulos" scope="col">Acciones</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let proveedor of proveedores" (click)="editarProveedor(proveedor.idProveedor)">

                        <th class="textox" scope="row">{{proveedor.idProveedor}}</th>

                        <td class="textox">{{proveedor.nombreProveedor}}</td>

                        <td class="textox">{{proveedor.apellidoProveedor}}</td>

                        <td class="textox">{{proveedor.fechaNacimiento}}</td>

                        <td class="textox">{{proveedor.correoProveedor}}</td>


                        <div *ngIf="proveedor.estado == 1">

                            <td></td>
                            <br>
                            <br>

                            <div class="form-check form-switch">

                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (click)="cambioEstado(proveedor.estado,proveedor.idProveedor)">

                                <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                            </div>

                        </div>

                        <div *ngIf="proveedor.estado == 2">

                            <td></td>
                            <br>
                            <br>

                            <div class="form-check form-switch">

                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="cambioEstado(proveedor.estado,proveedor.idProveedor)">

                                <label class="form-check-label" for="flexSwitchCheckChecked"></label>

                            </div>

                        </div>

                        <td>
                            <button (click)="editarProveedor(proveedor.idProveedor)" data-bs-toggle="modal" data-bs-target="#content-modal-suppliersEdit" type="button" class="btn btnEditar btn-sm">Editar</button>
                        </td>

                    </tr>

                    <tr>

                </tbody>


            </table>
        </div>
    </div> <button class="btn btnCrear col-2 d-md-flex justify-content-md-center" data-bs-toggle="modal" data-bs-target="#content-modal-suppliersCreate">Proveedor</button>
</div>

<!-- Jordan Table Finish -->