<body>
    <form ngNativeValidate [formGroup]="formUsers">
        <div class="form">
            <h1>Iniciar sesión</h1>
            <!-- <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Nombre</label>
            </div> -->
            <div class="grupo">
                <input type="email" name="" id="email"formControlName="email"><span class="barra"></span>
                <label for="">Email</label>
            </div>
            <div class="grupo">
                <input type="password" name="" id="password" formControlName="password"><span class="barra"></span>
                <label for="">Password</label>
            </div>

            <button (click)="login()">Iniciar</button>
            <button (click)="register()">Crear cuenta</button>

            <div class="a">
                <a [routerLink]="['forgot-password']">¡Olvidé mi contraseña!</a>
            </div>

            <!-- <pre>{{ formUsers.value | json }}</pre> -->
        </div>
    </form>
</body>


<!-- <pre>{{ formUsers.value | json }}</pre> -->