<app-top-header></app-top-header>

<app-modal-edit-groups></app-modal-edit-groups>
<app-modal-events-completed></app-modal-events-completed>
<app-modal-report-events-groups-organizer></app-modal-report-events-groups-organizer>

<div class="eventsContainerContent">
  <!--Aside bar-->
  <div class="content-asidebar">
    <app-left-menu></app-left-menu>
  </div>
  <!--CONTENT-->
  <div class="container mt-3 principalContainer">
    <br>
    <div class="text-center">
      <img src="/assets/group/group.png" class="img-fluid rounded" alt="...">
    </div>
    <app-nav-group></app-nav-group>

    <router-outlet></router-outlet>

    <br>
  </div>

</div>
