@import '../../app.component.scss';
.leftMenu {
    width: 5rem;
    margin: 1%;
    background: linear-gradient(to right, $principal, $principal2);
    border-radius: 1rem;
    height: auto;
    position: fixed;
    transition: all 25s;
    .optionLM {
        width: 4rem;
    }
    .home {
        margin: 0.5rem;
    }
    .divider {
        color: white;
        width: 70%;
        size: 1.5rem;
    }
    .options {
        background-color: $second;
        border-radius: 1rem;
        margin: 0.5rem;
        width: 3rem;
        height: 3rem;
        .icon {
            width: 1.5rem;
            margin: -0.25rem;
        }
    }
}

@media only screen and (max-width: 617px) {
    .leftMenu {
        width: 4rem;
        margin: 0.5rem;
        .optionLM {
            width: 4rem;
        }
        .home {
            margin: 0rem;
        }
        .divider {
            color: white;
            width: 70%;
            size: 1.5rem;
        }
        .options {
            background-color: $second;
            border-radius: 1rem;
            margin: 0.5rem;
            width: 3rem;
            height: 3rem;
            .icon {
                width: 1.5rem;
                margin: -0.25rem;
            }
        }
        #ocultar {
            display: none;
        }
    }
}