@import '../../../app.component.scss';
.group {
    height: 5%;
}

.aloo {
    margin: 0.5em;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.textox {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 350;
}

.title {
    font-family: 'Pacifico', cursive;
    // font-size: 7vw;
    margin-bottom: 6vw;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.card-img-top {
    padding: 0;
    margin: 0;
}

.btnVer {
    background: linear-gradient(to right, $btnsGenerals, $btnsGenerals2);
    color: white;
}

.btnVer:hover {
    background: linear-gradient(to right, $btnsGeneralsH, $btnsGenerals2H);
}