<div class="col-sm-12">
  <div class="card aloo">
    <div class="group">
      <img class="rounded card-img-top" src="../../../../assets/group/prueba.jfif" alt="{{ group.nombreGrupo }}" (click)="navigateToYourGroupDetails()">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ group.nombreGrupo }}</h5>
      <p class="card-text">{{ group.invitadosTotales }}</p>
      <button class="btn btn-primary" (click)="navigateToYourGroupDetails()" (click)="UnirLosParametroas(group.idGrupos)">ver</button>
    </div>
  </div>
</div>
