<div class="col-sm-12 aloo">
    <div class="grid card aloo">
        <div *ngIf="!GroupForm.get('imagen')?.value">
            <img class="rounded card-img-top" src="../../../../assets/group/prueba.jfif">
        </div>
        <div class="group" *ngIf="GroupForm.get('imagen')?.value">
            <img class="thumbnail  card-img-top" style="padding: 0; margin: 0;" width="175px" [src]="GroupForm.get('imagen')?.value" alt="{{ group?.nombreGrupo }}" class="thumbnail">
        </div>
        <div class="card-body textox">
            <h5 class="card-title title">{{ group.nombreGrupo }}</h5>
            <p class="card-text textox">{{ group.InvitadosTotales }}</p>
            <div class="btn-group">
                <button class="btn btnVer textox" (click)="navigateToYourGroupDetails()" (click)="UnirLosParametroas(group.idGrupos)">ver</button>
            </div>
        </div>
    </div>
</div>