<!--TABLE-->

<div class="table-responsive">
    <div *ngIf="stateAccept != 1; else onlyAccepted">
        <table class="table table-dark table-responsive">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nombre Proveedor</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Tipo Servicio</th>
                    <th scope="col">Detalle Servicio</th>
                    <th scope="col">Accion</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let key of dataProviderService">
                    <td></td>
                    <td>{{key.nombreProveedor}}</td>
                    <td>{{key.apellidoProveedor}}</td>
                    <td>{{key.correoProveedor}}</td>
                    <td>{{key.celular}}</td>
                    <td>{{key.TipoServicio_idtipoServicio}}</td>
                    <td>
                        <div class="content-button">
                            <button class="btn btn-primary" (click)="modalOpen(content)">Detalle</button>
                            <ng-template #content let-modal>
                                <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->

                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Detalle Servicio</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="check-form">
                                            <label class="fs-3">Nombre del Servicio:</label>
                                            <p class="fw-bolder fs-5">{{key.nombreServicio}}</p>
                                        </div>

                                        <div class="check-form">
                                            <label class="fs-3">Descripcion:</label>

                                            <p class="fw-bolder fs-5">{{key.descripcionServicio}}</p>
                                        </div>
                                        <div class="check-form">
                                            <label class="fs-3">Precio estimado:</label>

                                            <p class="fw-bolder fs-5">{{key.precioEstimado}}</p>
                                        </div>
                                        <div class="check-form">
                                            <label class="fs-3">Imagen:</label>

                                            <p class="fw-bolder fs-5">{{key.imagen}}</p>
                                        </div>
                                        <div class="check-form">
                                            <label class="fs-3">Historial empresas:</label>

                                            <p class="fw-bolder fs-5">{{key.historialEmpresas}}</p>
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Crear evento</button>
                                            </div> -->




                                <!-- <app-modal-disable-event [idEvent]="eventGroupForm.get('idEvento')?.value" [form]="eventGroupForm.value"></app-modal-disable-event> -->
                            </ng-template>
                        </div>
                    </td>
                    <td>
                        <div class="content-button">
                            <button class="btn btn-primary" type="submit" (click)="postInvitation(key)">Invitar</button>
                        </div>
                    </td>
                    <td *ngIf=" key.estadoInvitacion == null">
                        Sin invitar
                    </td>
                    <td *ngIf="key.estadoInvitacion == 0">
                        Invitado
                    </td>
                    <td *ngIf="key.estadoInvitacion == 1">
                        Aceptado
                    </td>
                    <td *ngIf="key.estadoInvitacion == 2">
                        Rechazado
                    </td>
                    <td *ngIf="key.estadoInvitacion == 3">
                        Terminado
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-danger" (click)="modalOpen2(content3)">
        Terminar
    </button>
    <p class="fw-bolder">Terminar</p>

    <ng-template #onlyAccepted>
        <div>
            Se tiene un Servicio aceptado con el proveedor: {{nombreProveedor}}, con nombre de servicio: {{nombreServicio}}
        </div>
        <button class="btn btn-danger" (click)="modalOpen2(content2)">
            Terminar
        </button>
        <p class="fw-bolder">Terminar y Resultados</p>

    </ng-template>

</div>

<!--TABLE//-->

<ng-template #content2 let-modal2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal2.dismiss('Cross click')"></button>
    <app-modal-disable-event [form]="form" [idEvento]="idEvento" [finishState]="1" [idServiceAceppted] = idServiceAceppted></app-modal-disable-event>
</ng-template>

<ng-template #content3 let-modal3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal3.dismiss('Cross click')"></button>
    <app-modal-disable-event [form]="form" [idEvento]="idEvento" [finishState]="2" ></app-modal-disable-event>
</ng-template>

